@import "../../../bibase";
.bi-cordon-pane{
  & .group-tab-button-text{
    color: @color-bi-text-gray;
  }
  & .cordon-group{
    min-height: 230px;
    max-height: 230px;
    & .bi-cordon-item{
      border-bottom: 1px solid @color-bi-border-line;
    }
  }
}