/****添加计算宽度的--运算符直接需要space****/
/****** common color(常用颜色,可用于普遍场景) *****/
/**** custom color(自定义颜色,用于特定场景) ****/
.bi-sub-point-map-region {
  border: 1px solid #a3d6e8;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
.bi-sub-point-map-region .dimensions-container {
  min-height: 37px;
}
.bi-sub-point-map-region .virtual-drop-area {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  border: 1px dashed #a3d6e8;
}
.bi-sub-point-map-region .forbidden-mask {
  background: #1a1a1a;
  opacity: 0.05;
  filter: alpha(opacity=5);
  z-index: 1;
}
