@import "../../bibase";

.bi-number-custom-group-tab{
  & .group-tab-editor{
    border: 1px solid @split-color-dark;
    .border-radius(2px);
  }
  & .group-tab-label{
    color: @color-bi-text-gray;
    font-size: @font-size-14;
  }
}