@import "../../../bibase";

.bi-dimension-switch-pane-show {
  & .button-group-bottom {
    background: @color-bi-background-default;
    border-bottom: 1px solid @color-bi-border-line;
  }
  & .tag-button {
    &.active {
      & .bi-text {
        color: @font-color-highlight
      }
    }
    &:hover {
      background: @border-color-light-blue;
      & .bi-text {
        color: @font-color-highlight
      }
    }
  }
  & .highlight-background {
    background: @background-color-light-blue;
  }
}