/****添加计算宽度的--运算符直接需要space****/
/****** common color(常用颜色,可用于普遍场景) *****/
/**** custom color(自定义颜色,用于特定场景) ****/
.bi-target-condition-style-setting {
  border: 1px solid #a3d6e8;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
.bi-target-condition-style-setting .add-condition-tool {
  background: #d8f2fd;
  border-bottom: 1px solid #a3d6e8;
}
.bi-target-condition-style-setting .add-condition-tool .setting-title {
  color: #808080;
  font-size: 14px;
}
