@import "../../../bibase";
.bi-authority-single-set-pane{
  & .authority-set-title{
      border-bottom: 1px solid @color-bi-border-line;
    & .package-title{
      font-size: @font-size-14;
      color: @color-bi-text-gray;
    }
  }
  & .select-package-empty-tip{
    font-size: @font-size-16;
    color: @color-bi-text-tips;
  }
}