@import "bi-extra-core";

.fs-button {
  .border-radius(2px);
  border:1px solid @color-bi-text-highlight;
  background-color: @color-bi-text-highlight;
  text-align: center;
  vertical-align: middle;
  cursor: pointer !important;
}
.fs-button.button-common {
  color: @color-bi-text;
}
.fs-button.button-ignore {
  color: @color-bi-text-black;
  background-color: @color-bi-text;
  border-color: @color-bi-split-dark;
}
.fs-button.button-success {
  color: @color-bi-text;
  background-color: @color-bi-background-success;
  border-color: @color-bi-border-success;
}
.fs-button.button-warning {
  color: @color-bi-text;
  background-color: @color-bi-background-delete;
  border-color: @color-bi-border-delete;
}