/****添加计算宽度的--运算符直接需要space****/
/****** common color(常用颜色,可用于普遍场景) *****/
/**** custom color(自定义颜色,用于特定场景) ****/
.bi-string-region {
  border: 1px solid #a3d6e8;
}
.bi-string-region .bi-region-nav .bi-region-north-title {
  font-size: 14px;
}
.bi-string-region .bi-region-comment {
  font-size: 14px;
  color: #d4dadd;
}
.bi-string-dimension-container {
  background: #d8f2fd;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
.bi-string-target-container {
  background: #e1f4e7;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
