/****添加计算宽度的--运算符直接需要space****/
/****** common color(常用颜色,可用于普遍场景) *****/
/**** custom color(自定义颜色,用于特定场景) ****/
.bi-all-reports-filter {
  background: #ffffff;
  border: 1px solid #eaeaea;
  -webkit-border-radius: 0 0 2px 2px;
  -moz-border-radius: 0 0 2px 2px;
  border-radius: 0 0 2px 2px;
}
.bi-all-reports-filter .inner-wrapper {
  max-width: 1000px;
  min-width: 500px;
}
.bi-all-reports-filter .inner-wrapper .filter-type {
  font-size: 14px;
  color: #1a1a1a;
}
