@import "../../bibase";
.bi-etl-filter-group-setting{
  background: @background-color-active;
  border : 1px solid @border-color-normal;
  & .detail-view {
    color : @font-color-dark;
  }
}

.bi-etl-filter-group-pop-detail{
  & .detail-label {
    color : @font-color-dark;
    font-size : @font-size-14;
  }
  & .detail-view {
    background: @background-color-active;
    border : 1px solid @border-color-normal;
    .border-radius(2px);
    color : @font-color-dark;
  }
}

.bi-etl-filter-group-pop-list {
  border : 1px solid @border-color-normal;
  .border-radius(2px);
  & .first-label {
    border-bottom : 1px solid @border-color-normal;
  }
  & .list-item-text {
    color : @font-color-normal;
  }
}