@import "../../bibase";
.bi-etl-filter-number-oneside{
  & .bi-numerical-interval-combo{
    border:1px solid @color-bi-border-normal;
    .border-corner-left-radius(2px,2px);
  }

  & .numerical-interval-big-combo .bi-numerical-interval-trigger, .numerical-interval-small-combo .bi-numerical-interval-trigger{
      font-size: 18px;
  }

  & .bi-editor {
    border-top:1px solid @color-bi-border-normal;
    border-bottom: 1px solid @color-bi-border-normal;
    border-right: 1px solid @color-bi-border-normal;
    .border-corner-right-radius(2px,2px);
  }
}