/****添加计算宽度的--运算符直接需要space****/
/****** common color(常用颜色,可用于普遍场景) *****/
/**** custom color(自定义颜色,用于特定场景) ****/
.bi-move-to-pane .folder-tree-container {
  border: 1px solid #d4dadd;
  color: #1a1a1a;
}
.bi-move-to-pane .selected-folder {
  color: #009de3;
}
