/****添加计算宽度的--运算符直接需要space****/
/****** common color(常用颜色,可用于普遍场景) *****/
/**** custom color(自定义颜色,用于特定场景) ****/
.bi-circle-display-editor .level-display-editor {
  border: 1px solid #d4dadd;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
.bi-circle-display-editor .level-display-label {
  max-width: 460px;
  font-size: 14px;
  color: #808080;
}
