@import "../../bibase";
.bi-update-table-data-center {
  & .tables-group {
    background: @color-bi-background-gray;
    & .table-tab-button{
      &.active{
        background: @color-bi-background-default;
        color: @color-bi-text-highlight;
      }
    }
  }
}