@import "../../../../bibase";

.bi-region-header {
  & .dimension-region-header {
    background: @color-dimension-background;
    border-bottom: 1px solid @color-dimension-region-border;
  }
  & .target-region-header {
    background: @color-target-background;
    border-bottom: 1px solid @color-target-region-border;
  }
  & .region-header-title {
    font-size: @font-size-14;
    color: @color-bi-text-gray;
  }
}