@import "../../bibase";

.bi-fit {
  & .fit-drag-area{
    background: @color-bi-background-normal;
  }
  & .fit-dashboard {
    background: @color-bi-background-normal;
    & .ui-resizable-s{
      bottom: 0;
    }
    & .ui-resizable-s:hover{
      border-bottom: 1px solid @color-bi-border-resize;
    }
    & .ui-resizable-e:hover{
      border-right: 1px solid @color-bi-border-resize;
    }
  }
  & .layout-combo{
    border: 1px solid transparent;
    &:hover{
      border-radius: 2px;
      border: 1px solid @color-dashboard-toolbar-border;
      background: @color-bi-background-default;
    }
  }
}