@import "../../../bibase";
.bi-excel-field-set-table{
  &>div > div > table{
    border-bottom: 1px solid @color-bi-border-line;
    border-right: 1px solid @color-bi-border-line;
    & .table-header{
      font-size: @font-size-14;
    }
    & .normal-field{
      font-size: @font-size-14;
    }
    & .new-field{
      font-size: @font-size-14;
      color: @color-bi-text-highlight;
    }
  }
}