@import "../../../../bibase";


.bi-analysis-etl-merge-fields {

  & .add-merge-field {
    border-bottom: 1px solid @border-color-line;
    & .title {
      font-size:@font-size-14;
      color:@font-color-light-gray
    }
  }
}