@import "../../../../bibase";

.bi-analysis-etl-merge-preview {

  & .title {
      font-size:@font-size-14;
      color:@font-color-light-gray;
      border-bottom:1px solid @border-color-line
  }


}