@import "../../../bibase";
.bi-authority-batch-add-role-pane{
  background: @color-bi-background-default;
  & .selected-packages{
    border-right: 1px solid @color-bi-border-normal;
  }
  & .empty-tip{
    font-size: @font-size-16;
    color: @color-bi-text-tips;
  }
  & .role-item{
    border: 1px solid @color-bi-border-normal;
    .border-radius(2px);
  }
  & .overwrite-tip{
    font-size: @font-size-14;
    color: @color-bi-text-warning;
  }
}