@import "../bibase";

.bi-conf-view{
  background: @color-bi-background-gray;
  & .conf-left-nav-pane{
    background: @color-bi-background-default;
    border-radius: 2px;
    & .left-nav-title{
      font-size: 16px;
    }
  }
  & .conf-right-display-pane{
    background: @color-bi-background-default;
    border-radius: 2px;
    & .right-display-title{
      font-size: 16px;
    }
    & .right-display-pane{
      border-top: 1px solid @color-bi-border-line;
    }
  }
}