/****添加计算宽度的--运算符直接需要space****/
/****** common color(常用颜色,可用于普遍场景) *****/
/**** custom color(自定义颜色,用于特定场景) ****/
.bi-template-manager {
  min-width: 600px;
}
.bi-template-manager .template-manager-pane {
  border: 1px solid #d4dadd;
}
.bi-template-manager .template-manager-pane .report-folder-list {
  border-top: 1px solid #eaeaea;
}
.bi-template-manager .bi-template-manager-file-item-search {
  border: 1px solid #d4dadd;
}
.bi-template-manager .folder-report-view {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.bi-template-manager .folder-report-view .folder-view {
  background: #ffffff;
}
.bi-template-manager .folder-report-view .folder-view.active {
  background: #009de3;
}
