@import "../../../bibase";

.bi-progress-text-bar {
  background: @color-bi-progress-text-bar-background;
  color: @color-bi-text;
  .border-radius(2px);
  & .bi-progress-text-bar-processor {
    background: @color-bi-progress-text-bar-processor;
  }
}