@import "../bi-extra-core";
.bi-plate-hangout-report{
  color: @color-bi-text-gray;
  & .config-name{
    font-size: @font-size-14;
  }
  & .report-name{
    border: 1px solid @color-bi-border-normal;
  }
  & .report-description{
    border: 1px solid @color-bi-border-normal;
  }
}