@import "../../../bibase";
.bi-charts-setting{
  & .single-line-settings{
    border-top: 1px solid @color-bi-border-line;
    & .chart-style-font{
      border: 1px solid @color-bi-border-default;
      .border-radius(@radius-2);
      &:hover{
        background: @color-bi-background-gray;
      }
      &.active{
        border: 1px solid @color-bi-border-highlight;
      }
    }
    & .line-title{
      font-size: @font-size-14;
      color: @color-bi-text-gray;
    }
    & .attr-names{
      font-size: @font-size-14;
      color: @color-bi-text-black;
    }
    & .unit-input{
      border: 1px solid @color-bi-border-normal;
      .border-radius(@radius-2);
    }
  }
}