@import "../../../bibase";
.bi-charts-setting{
  & .single-line-settings{
    border-top: 1px solid @color-bi-border-line;
    & .line-title{
      font-size: @font-size-14;
      color: @color-bi-text-gray;
    }
    & .attr-names{
      font-size: @font-size-14;
      color: @color-bi-text-black;
    }
    & .unit-input{
      border: 1px solid @color-bi-border-normal;
      .border-radius(2px);
    }
  }
  & .detail-style{
    min-width: 900px;
  }
}