# Created by .ignore support plugin (hsz.mobi)
classes/
target/classes/
target/generated-sources/
target/maven-archiver/
target/maven-status/
target/**/*.xml
target/**/*.lst
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
!/.mvn/wrapper/maven-wrapper.jar
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/dictionaries
.idea/**/shelf
.idea/**/dataSources/
.idea/**/dataSources.ids
.idea/**/dataSources.local.xml
.idea/**/sqlDataSources.xml
.idea/**/dynamic.xml
.idea/**/uiDesigner.xml
.idea/**/gradle.xml
.idea/**/libraries
cmake-build-debug/
cmake-build-release/
.idea/**/mongoSettings.xml
*.iws
out/
.idea_modules/
atlassian-ide-plugin.xml
.idea/replstate.xml
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties
.idea/httpRequests
*.class
*.log
*.ctxt
.mtj.tmp/
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar
hs_err_pid*
project/.idea/*.xml
.idea/
*.iml
*.lst
swift-indexing/target/maven-archiver/pom.properties
swift-analyse/target/maven-archiver/pom.properties
swift-history/target/maven-archiver/pom.properties
swift-log-adaptor/target/generated-test-sources/test-annotations/com/fr/swift/adaptor/log/query/ContractBean_.java
swift-realtime/target/maven-archiver/pom.properties
fine-engine-swift/target/maven-archiver/pom.properties
swift-server/target/maven-archiver/pom.properties
swift-base/target/maven-archiver/pom.properties
swift-fundation-adaptor/target/maven-archiver/pom.properties
swift-log-adaptor/target/maven-archiver/pom.properties
swift-test/target/maven-archiver/pom.properties
