@import "../../../bibase";
@container-min-height: 37px;
.bi-target-region {
  border: 1px solid @color-target-region-border;
  & .region-north {
    background: @color-target-background;
    border-bottom: 1px solid @color-target-region-border;
    & .region-north-title {
      font-size: @font-size-14;
      color: @color-bi-text-gray;
    }
  }
  & .drag-tool{
    border-right: 1px solid @color-target-region-border;
    cursor: move;
  }
  & .targets-container {
    min-height: @container-min-height;
    & .target-container {
      background: @color-target-background;
      .border-radius(2px);
    }
    & .virtual-drop-area {
      .border-radius(2px);
      border: 1px dashed @color-target-region-border;
    }
    & .region-empty-tip{
      color: @color-bi-text-dark;
      font-size: @font-size-14;
    }
  }
  & .forbidden-mask{
    background: @color-bi-background-black;
    .opacity(0.05);
    z-index: 1;
  }
  & .bi-empty-region {
    border-color: @color-target-region-border;
  }
  & .ui-sortable-helper {
    background: @color-target-background;
    .border-radius(2px);
  }
}