@import "../../../bibase";
@import "../../../animate";


.bi-analysis-etl-p-t-h-cell {
  background: @background-color-active;
  height: 100%;
  & .bi-etl-filter-combo{
    background: @background-color-default;
    border : 1px solid @border-color-normal;
    .border-radius(2px);
  }

}

.transition(bi-analysis-etl-p-t-h-cell, width);