@import "../../bibase";

.bi-tab-sheet-button {
  border: 1px solid @color-bi-border-normal;
  border-left-width: 0px;
  background: @background-color-light;

  &.active, &:active{
    border-top-color:@background-color-active;
    background: @background-color-active;
  }
}