@import "../../../bibase";
.condition-item {
  min-width: 560px;
  border-bottom: 1px solid @border-color-normal;
  &:last-child {
    border-bottom: 0;
  }
  .condition-trigger {
    border-left: 1px solid @border-color-normal;
    border-right: 1px solid @border-color-normal;
  }
  .trigger-icon {
    color: @color-bi-text-highlight;
  }
  .condition-operator-input {
    border: 1px solid @border-color-normal;
  }
}