@import "../../../bibase";
.data-label-group {
  border-top: 1px solid @border-color-normal;
  border-left: 1px solid @border-color-normal;
  border-right: 1px solid @border-color-normal;
  border-radius: @radius-2;
}