@import "../../../bibase";
.data-label-condition-item {
  background-color: @background-color-default;
  border: 1px solid @border-color-normal;
  border-radius: @radius-2;
  .condition-trigger {
    border: 1px solid @border-color-normal;
  }
}