@import "../../../bibase";
.bi-move-to-pane{
  .folder-tree-container{
    border: 1px solid @color-bi-border-normal;
    color: @color-bi-text-black;
  }
  & .selected-folder{
    color: @color-bi-text-highlight;
  }
}