@import "../../../bibase";
.bi-report-search-result-pane{
  background: @color-bi-background-default;
  border: 1px solid @color-bi-border-line;
  & .search-result-comment{
    font-size: @font-size-14;
    color: @color-bi-text-gray;
    border-bottom: 1px solid @color-bi-border-line;
    border-left: 1px solid @color-bi-border-line;
  }
}