@import "../../../../bibase";
.bi-complex-empty-region{
  border: 1px dashed @color-dimension-region-border;
  .border-radius(2px);
  & .drag-comment{
    color: @color-bi-text-dark;
    font-size: @font-size-14;
  }
}