@import "../../../../bibase";
@complex-table-region-min-height: 37px;
.bi-complex-dimension-region{
  border: 1px solid @color-dimension-region-border;
  .border-radius(2px);
  min-height: @complex-table-region-min-height;
  & .drag-tool{
    border-right: 1px solid @color-dimension-region-border;
    cursor: move;
  }
  & .virtual-drop-area {
    .border-radius(2px);
    border: 1px dashed @color-dimension-region-border;
  }
  & .forbidden-mask{
    background: @color-bi-background-black;
    .opacity(0.05);
    z-index: 1;
  }
}