/****添加计算宽度的--运算符直接需要space****/
/****** common color(常用颜色,可用于普遍场景) *****/
/**** custom color(自定义颜色,用于特定场景) ****/
.bi-widget-filter {
  background: #ffffff;
  z-index: 100000;
}
.bi-widget-filter .none-filter-tip {
  font-size: 14px;
  color: #808080;
}
.bi-widget-filter .filter-pane {
  min-width: 0;
}
