/****添加计算宽度的--运算符直接需要space****/
/****** common color(常用颜色,可用于普遍场景) *****/
/**** custom color(自定义颜色,用于特定场景) ****/
.bi-drag-icon-group {
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  background: #ffffff;
  -webkit-border-radius: 2px 2px 2px 2px;
  -moz-border-radius: 2px 2px 2px 2px;
  border-radius: 2px 2px 2px 2px;
}
.bi-drag-icon-group .widget-generator {
  border-radius: 2px;
  font-size: 22px;
  border: 1px solid #ffffff;
  cursor: url('${servletURL}?op=resource&resource=/com/fr/bi/web/images/cursor/cursor_hand.cur'), auto;
  cursor: -webkit-grab;
  cursor: -moz-grab;
  cursor: grab;
}
.bi-drag-icon-group .widget-generator:hover {
  background: #f3f3f3;
  border: 1px solid #d4dadd;
}
.bi-drag-icon-group .widget-generator:active {
  background: #f3f3f3;
  border: 1px solid #d4dadd;
}
.bi-drag-icon-group .widget-more,
.bi-drag-icon-group .widget-reuse {
  border-radius: 2px;
  font-size: 22px;
  border: 1px solid #ffffff;
}
.bi-drag-icon-group .widget-more:hover,
.bi-drag-icon-group .widget-reuse:hover {
  background: #f3f3f3;
  border: 1px solid #d4dadd;
}
.bi-drag-icon-group .widget-more:active,
.bi-drag-icon-group .widget-reuse:active {
  background: #f3f3f3;
  border: 1px solid #d4dadd;
}
.bi-drag-icon-group .widget-generator-gap {
  border-bottom: 1px solid #d4dadd;
}
