@import "../../bibase";

.bi-template-manager{
  & .template-manager-pane{
    border: 1px solid @color-bi-border-normal;
    & .report-folder-list{
      border-top: 1px solid @color-bi-border-line;
      & .bi-report-card-view-item{
        &:hover, &.active{
          background: @color-bi-background-gray;
        }
        & .tool-rename-icon{
          color: @color-bi-text-highlight;
          font-size: @font-size-16;
          border: 1px solid @color-bi-border-normal;
          .border-radius(2px);
        }
        & .tool-delete-icon{
          color: @color-bi-text-warning;
          font-size: @font-size-16;
          border: 1px solid @color-bi-border-normal;
          .border-radius(2px);
        }
      }
      & .bi-folder-card-view-item{
        &:hover, &.active{
          background: @color-bi-background-gray;
        }
        & .tool-rename-icon{
          color: @color-bi-text-highlight;
          font-size: @font-size-16;
          border: 1px solid @color-bi-border-normal;
          .border-radius(2px);
        }
        & .tool-delete-icon{
          color: @color-bi-text-warning;
          font-size: @font-size-16;
          border: 1px solid @color-bi-border-normal;
          .border-radius(2px);
        }
      }
    }
  }
  & .bi-template-manager-file-item-search{
    border: 1px solid @color-bi-border-normal;
  }
  & .folder-report-view{
    .border-radius(4px);
    & .folder-view{
      background: @color-bi-background-dark;
      &.active{
        background: @color-bi-background-default;
      }
    }
  }
}