// 引入基本色
@import "../../less/lib/colors";
@import "../../less/visual";
@import "../../less/box-model";

@text-width: 100px;
@icon-left : 30px;
@resource-url : '${servletURL}?op=resource&resource=';


@color-bi-button-selected: #009de3;
@color-bi-button-unselected: #808080;

// 分段控件颜色
@color-segment-unselected-text: #808080;
@color-segment-unselected-background: #ffffff;
@color-segment-unselected-border: #d4dadd;
@color-segment-hover-background:#1a1a1a;
@color-segment-selected-text: #ffffff;
@color-segment-selected-background: #009de3;

// 下拉框控件
@color-combo-background : #ffffff;
@color-combo-border : #d4dadd;
@color-combo-icon : #178cdf;
@color-combo-list-item-background:#F4F4F4;
@color-combo-list-item-unselected-font-color:#1A1A1A;
@color-combo-list-item-selected-font-color:#009EE4;
@color-combo-list-background:#ffffff;



//搜索框控件
@color-fs-bi-queryBox-icon : #383838;
@color-fs-bi-queryBox-background : #e1ecf5;

//Title控件
@color-title-background:#F4F4F4;
@color-title-text:#808080;
@title-padding-left:20px;

//Label控件
@color-label-background:#FFFFFF;
@color-label:#808080;
@align-label:left;
@size-label:14px;

//表格控件
@color-fs-bi-mine-table-title-font : #FFFFFF;
@color-fs-bi-mine-table-title-background : #0477AA;
@color-fs-bi-mine-table-list-parent-border-top : #EAEAEA;
@color-fs-bi-mine-table-list-template-font:#1A1A1A;
@color-fs-bi-mine-table-list-hover:#F4F4F4;
@color-fs-bi-mine-table-icon-normal:#808080;
@color-fs-bi-mine-table-list-template-time-font:#808080;
@color-fs-bi-mine-table-border:#D4DADD;
@color-fs-bi-mine-table-icon-file-selected:#009de3;
@color-fs-bi-mine-table-icon-share-selected:#58CC7D;
@color-fs-bi-mine-table-icon-edit-selected:#009de3;
@color-fs-bi-mine-table-icon-delete-selected:#E85050;
@color-fs-bi-mine-table-icon-border:#D4DADD;

// 季度控件
@color-quarter-background : #d4dadd;
@color-quarter-border-normal : #d4dadd;
@color-quarter-border-special : #009de3;
@color-quarter-icon : #ffffff;
@color-quarter-trigger-background:#009de3;

@color-quarter-list-item-background:#f7f7f7;
@color-quarter-list-item-selected-background:#eeeeee;
@color-quarter-list-background:#ffffff;
@color-quarter-font:#333333;

//年份控件
@color-bi-year-prev-btn-background:#009de3;
@color-bi-year-next-btn-background:#009de3;
@color-bi-year-next-btn-hover-background:#0477aa;
@color-year-background:#d4dadd;
@color-year-border-special:#009de3;
@color-bi-border-normal : #d4dadd;
@color-year-trigger-background:#009de3;

@color-year-list-item-background:#f7f7f7;
@color-year-list-item-selected-background:#eeeeee;
@color-year-list-background:#ffffff;
@color-year-icon : #ffffff;
@color-year-font:#333333;
@color-year-disabled:#999;

//模板分享
@color-share-template-delete-icon-normal:#808080;
@color-share-template-delete-icon-hover:#E85050;
@color-share-template-delete-icon-border-hover:#d4dadd;
@color-share-template-background-default:#ffffff;
@color-share-template-background-active: #f4f4f4;
@color-share-template-background-dark: #d4dadd;
@color-share-template-border-normal:#d4dadd;
@color-share-template-highlight:#009de3;
@color-share-template-text-normal:#1a1a1a;
@color-share-template-user-box-text-count:#74b2e2;
@color-share-template-input-highlight:#f07d0a;
@color-share-template-default-text-dark:#c4c6c6;