@import "bi-extra-core";

div.fs-quick-list {
  border-radius: 2px;
  border: 1px solid @color-share-template-border-normal;
}

div.fs-quick-list-item {
  font-size: 14px;
  color: @color-share-template-text-normal;
  line-height: 30px;
}

div.fs-quick-list-item-hover {
  background-color: @color-share-template-background-active;
  color: @color-share-template-highlight;
}

div.fs-quick-list-item-selected {
  background-color: @color-share-template-background-active;
  color: @color-share-template-highlight;
}