@bi-add-icon-width : 21px;
@bi-add-icon-height : 21px;
@bi-add-icon-margin : 3px;
@resource-url : '${servletURL}?op=resource&resource=';

.fs_reportmgr_bi_icon{
  width : @bi-add-icon-width;
  height : @bi-add-icon-height;
  margin: @bi-add-icon-margin;
  background: url('@{resource-url}/com/fr/bi/cross/resources/images/add_bi.png') no-repeat;
}

.fs_reportmgr_bi_icon_hover{
  width : @bi-add-icon-width;
  height : @bi-add-icon-height;
  margin: @bi-add-icon-margin;
  background: url('@{resource-url}/com/fr/bi/cross/resources/images/add_bi.png') no-repeat;
}

.fs_reportmgr_bi_icon_click{
  width : @bi-add-icon-width;
  height : @bi-add-icon-height;
  margin: @bi-add-icon-margin;
  background: url('@{resource-url}/com/fr/bi/cross/resources/images/add_bi.png') no-repeat;
}