@import "../../less/lib/colors";
@import "../../less/bibase";

.fs-text-input-wrap{
  width: 100%;
  height: 100%;
  position: absolute;
}

.fs-text-input {
  position: relative;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: inline-block;
  vertical-align: middle;
  padding: 1px 3px !important;
  width: 98%;
}