@import "../../../../bibase";

.bi-select-part-field-list{
  & .bi-button-group{
    & .bi-multi-select-item:first-child{
      border-top: 1px solid @color-bi-border-normal;
    }
    & .bi-multi-select-item{
      border-left: 1px solid @color-bi-border-normal;
      border-right: 1px solid @color-bi-border-normal;
      border-bottom: 1px solid @color-bi-border-normal;
    }
  }
}