/****添加计算宽度的--运算符直接需要space****/
/****** common color(常用颜色,可用于普遍场景) *****/
/**** custom color(自定义颜色,用于特定场景) ****/
.bi-data-link-tables-pane .schema-mode {
  font-size: 14px;
  color: #808080;
}
.bi-data-link-tables-pane .tables-pane {
  background: #ffffff;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
.bi-data-link-tables-pane .tables-pane .package-table-selected {
  background: #d8f2fd;
  border: 1px solid #178cdf;
}
.bi-data-link-tables-pane .tables-pane .north-bottom-line {
  border-top: 1px solid #d4dadd;
}
.bi-data-link-tables-pane .tables-pane .server-data-comment {
  font-size: 16px;
  color: #808080;
}
.bi-data-link-tables-pane .previous-next-page {
  border: 1px solid #d4dadd;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
.bi-data-link-tables-pane .test-fail-pane .test-connection-fail-detail-button {
  font-size: 14px;
  color: #009de3;
}
.bi-data-link-tables-pane .test-fail-pane .test-fail-detail-info {
  background: #f4f4f4;
  color: #808080;
  border: 1px solid #d4dadd;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
.bi-data-link-tables-pane .test-fail-pane .test-connection-fail-comment {
  font-size: 16px;
  color: #808080;
}
.bi-data-link-tables-pane .bi-database-tables-search-result-pane {
  background: #ffffff;
}
