/****添加计算宽度的--运算符直接需要space****/
/****** common color(常用颜色,可用于普遍场景) *****/
/**** custom color(自定义颜色,用于特定场景) ****/
.bi-tab-sheet-button {
  border: 1px solid #d4dadd;
  border-left-width: 0px;
  background: #eaeaea;
}
.bi-tab-sheet-button.active,
.bi-tab-sheet-button:active {
  border-top-color: #f4f4f4;
  background: #f4f4f4;
}
