@import "../../bibase";

.bi-sequence-table-tree-number {
  & .sequence-table-title {
    .overflow-hidden();
    border: 1px solid @color-bi-border-line;
    //font-weight: bold;
  }
  & .sequence-table-number {
    border-top: 1px solid @color-bi-border-line;
    border-left: 1px solid @color-bi-border-line;
    border-right: 1px solid @color-bi-border-line;
    &.last{
      border-bottom: 1px solid @color-bi-border-line;
    }
  }
}