@import "../../bibase";
.bi-share-to-me{
  & .reports-view-switcher{
    & .view-button{
      background: @color-bi-background-dark;
      &.active{
        background: @color-bi-background-default;
      }
    }
  }
  & .empty-tip{
    font-size: @font-size-14;
    color: @color-bi-text-gray;
  }
}