@import "../../bibase";
.bi-table-chart-manager{
  & .no-data-detail-comment{
    color: @color-bi-text-gray;
    font-size: @font-size-14;
  }
  & .contact-admin-comment{
    color: @color-bi-text-gray;
    font-size: @font-size-16;
  }
}