@import "../../bibase";

.bi-finebi-service-expander{
  border-top: 1px solid @color-bi-border-line;
  & .finebi-service-expander-title{
    font-size: @font-size-14;
    & .b-font{
      font-size: @font-size-16;
    }
  }
  & .finebi-service-expander-item{
    font-size: @font-size-14;
  }
}