@import "../../bibase";
.bi-global-style-index-prediction-style{
  background:@background-color-normal;
  & .layout-bg1 {
    color: #ffffff;
    background-color: #0088cc;
  }

  & .layout-bg2 {
    color: #ffffff;
    background-color: #008B8B;
  }

  & .button-shadow{
    &.active{
      .box-shadow(0 0 20px, rgba(0, 0, 0, 0.2));
    }
  }
}