@import "../../bibase";

.detail-table-path-setting-tab {
  & .tab-label-gray {
    background-color: @color-bi-background-gray;
    border-bottom: 1px solid @color-bi-border-normal;
    color: @color-bi-text-gray
  }
  & .detail-table-path-setting-switch {
    border: 1px solid @color-bi-border-normal;
    .border-radius(2px);
  }
  & .save-button {
    color: @color-bi-text-highlight;
    font-size: 14px;
  }

  border: 1px solid @color-bi-border-normal;
}
