@import "../../../../../bibase";
.bi-custom-scale-formula{
  & .bi-custom-formula-field-pane {
    border-bottom: 1px solid @color-bi-border-normal;
  }
  & .bi-formula-editor {
    border-left: 1px solid @color-bi-border-normal;
  }
  & .symbol-group {
    border-bottom: 1px solid @color-bi-border-normal;
    border-left: 1px solid @color-bi-border-normal;
    border-top: 1px solid @color-bi-border-normal;
  }
}