@import "../../bibase";

& .detail-table-path-setting-field-label {
  font-size: 14px;
  color: @font-color-gray;
  border-bottom: 1px solid @color-bi-border-normal;
}

& .detail-table-path-setting-tip-label {
  font-size: 14px;
  color: @font-color-highlight;
}