/****添加计算宽度的--运算符直接需要space****/
/****** common color(常用颜色,可用于普遍场景) *****/
/**** custom color(自定义颜色,用于特定场景) ****/
.bi-update-excel-fields-table > div > div > table {
  border-bottom: 1px solid #eaeaea;
  border-right: 1px solid #eaeaea;
}
.bi-update-excel-fields-table > div > div > table .table-header {
  font-size: 14px;
}
.bi-update-excel-fields-table > div > div > table .fields-name {
  font-size: 12px;
}
.bi-update-excel-fields-table > div > div > table .fields-type {
  font-size: 22px;
}
