/****添加计算宽度的--运算符直接需要space****/
/****** common color(常用颜色,可用于普遍场景) *****/
/**** custom color(自定义颜色,用于特定场景) ****/
.bi-detail-detail-view {
  background: #ffffff;
}
.bi-detail-detail-view .widget-attr-north {
  background: #f3f3f3;
}
.bi-detail-detail-view .widget-attr-north .bi-widget-attr-name-input {
  font-size: 16px;
}
.bi-detail-detail-view .widget-attr-west {
  background: #f3f3f3;
}
.bi-detail-detail-view .widget-attr-west .widget-select-data-pane {
  background: #ffffff;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
.bi-detail-detail-view .widget-attr-center {
  background: #f3f3f3;
}
.bi-detail-detail-view .widget-attr-center .widget-show-data-pane .bi-widget-attr-tab {
  background: #ffffff;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
.bi-detail-detail-view .widget-attr-center .widget-show-data-pane .bi-view-setter-card-block > div {
  min-width: 182px;
  max-width: 282px;
}
.bi-detail-detail-view .widget-attr-center .widget-attr-chart {
  background: #ffffff;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
