<<<<<<< HEAD
@import "../../../../bibase";
=======
@import "../../../bibase";
>>>>>>> 67b55d486e769f445942f15883303ca839ffd092

.bi-update-excel-fields-table {
  & > div > div > table {
    border-bottom: 1px solid @color-bi-border-line;
    border-right: 1px solid @color-bi-border-line;
    & .table-header {
      font-size: @font-size-14;
    }
    & .fields-name {
      font-size: @font-size-12;
    }
    & .fields-type {
      font-size: @font-size-22;
    }
  }
}