/****添加计算宽度的--运算符直接需要space****/
/****** common color(常用颜色,可用于普遍场景) *****/
/**** custom color(自定义颜色,用于特定场景) ****/
.bi-excel-view-setting-table {
  border-left: 1px solid #eaeaea;
  border-top: 1px solid #eaeaea;
  border-right: 1px solid #eaeaea;
}
