/****添加计算宽度的--运算符直接需要space****/
/****** common color(常用颜色,可用于普遍场景) *****/
/**** custom color(自定义颜色,用于特定场景) ****/
.bi-etl-group-and-statistic {
  background: #f4f4f4;
}
.bi-etl-group-and-statistic .group-statistic-north .group-statistic-north-label {
  color: #808080;
  font-size: 14px;
  font-weight: bold;
}
.bi-etl-group-and-statistic .group-statistic-table-name {
  background: #ffffff;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
.bi-etl-group-and-statistic .group-statistic-table-name .table-name-text {
  color: #808080;
  font-size: 14px;
}
.bi-etl-group-and-statistic .group-statistic-operator-pane {
  background-color: #ffffff;
}
.bi-etl-group-and-statistic .group-statistic-operator-pane .dimension-region .bi-region-nav {
  background: #d8f2fd;
  border-bottom: 1px solid #a3d6e8;
}
.bi-etl-group-and-statistic .group-statistic-operator-pane .target-region .bi-region-nav {
  background: #e1f4e7;
  border-bottom: 1px solid #9fd3ae;
}
.bi-etl-group-and-statistic .group-statistic-preview-result {
  background: #ffffff;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
.bi-etl-group-and-statistic .group-statistic-preview-result .group-statistic-result-text {
  color: #808080;
  font-size: 14px;
  border-bottom: 1px solid #d4dadd;
}
.bi-etl-group-and-statistic .group-statistic-preview-result .group-statistic-result-tip {
  color: #808080;
  font-size: 16px;
}
.bi-etl-group-and-statistic .select_single_table_field {
  border: 1px solid #d4dadd;
}
