@import "../../bibase";

.bi-custom-scroll-table {
  .overflow-hidden();
  & .scroll-top-left, & .scroll-top-right, & .scroll-bottom-left, & .scroll-bottom-right {
    overflow-x: hidden !important;
    overflow-y: hidden !important;
    overflow: hidden !important;
  }
}