@import "../../bibase";
.bi-request-loading{
  & .mask-pane{
    background: @color-bi-background-default;
    .opacity(0.8);
  }
  & .loading-comment{
    font-size: 20px;
    color: @color-bi-text-gray;
  }
  & .load-fail-comment{
    font-size: 20px;
    color: @color-bi-text-gray;
  }
}