@import "../../bibase";

.bi-multi-relation-table-filed-item {
  & .multi-relation-dot, .multi-relation-field {
    font-size: 12px;
    color: @color-bi-text-gray;
  }
  & .multi-relation-table {
    font-size: 14px;
  }

}