@import "../../../../bibase";
@import "../../../../animate";

.bi-analysis-etl-operator-add-column-title {
  border-bottom: 1px solid @border-color-line;
  background: @background-color-active;

  & .bi-editor {
    background:@background-color-default;
  }

  & .bi-down-list-select-text-trigger {
    background:@background-color-default;
  }

  & .add-column-name {
  }

  & .add-column-type {
    & .bi-down-list-popup{
      width:198px;
    }
  }

  & .title-name {
    font-size:@font-size-14;
    color:@font-color-light-gray;
  }



}