/****** common color(常用颜色,可用于普遍场景) *****/
/**** custom color(自定义颜色,用于特定场景) ****/
/****添加计算宽度的--运算符直接需要space****/
.fs-title {
  background-color: #f4f4f4;
  vertical-align: middle;
  color: #808080;
  font-size: 16px;
  padding-left: 20px;
}
