@import "../../bibase";
.bi-all-reports-filter{
  background: @color-bi-background-default;
  border: 1px solid @color-bi-border-normal;
  .border-corner-radius(0, 0, 2px, 2px);
  & .inner-wrapper{
    max-width: 1000px;
    min-width: 500px;
    & .filter-type{
      font-size: @font-size-14;
      color: @color-bi-text-black;
    }
  }
}