/****添加计算宽度的--运算符直接需要space****/
/****** common color(常用颜色,可用于普遍场景) *****/
/**** custom color(自定义颜色,用于特定场景) ****/
/****** common color(常用颜色,可用于普遍场景) *****/
/**** custom color(自定义颜色,用于特定场景) ****/
.bi-analysis-etl-operator-filter-pane .operator-choose {
  font-size: 14px;
}
.bi-analysis-etl-operator-filter-pane .operator-choose .bi-label-msg {
  color: #7f7f7f;
}
.bi-analysis-etl-operator-filter-pane .null-label {
  font-size: 16px;
  color: #808080;
}
.bi-filter-popup-view-etl .bi-multi-select-loader {
  border: 1px solid #d4dadd;
}
