/****添加计算宽度的--运算符直接需要space****/
/****** common color(常用颜色,可用于普遍场景) *****/
/**** custom color(自定义颜色,用于特定场景) ****/
.bi-multi-relation-table-filed-item .multi-relation-dot,
.bi-multi-relation-table-filed-item .multi-relation-field {
  font-size: 12px;
  color: #808080;
  max-width: 280px;
}
.bi-multi-relation-table-filed-item .multi-relation-table {
  font-size: 14px;
  max-width: 280px;
}
