/****** common color(常用颜色,可用于普遍场景) *****/
/**** custom color(自定义颜色,用于特定场景) ****/
.tool-filter-font .b-font:before {
  content: '\e624';
  color: #808080;
}
.tool-filter-font:active .b-font:before {
  content: '\e624';
  color: #009de3;
}
.tool-filter-font.disabled .b-font:before {
  content: '\e624';
  color: #808080;
}
.node-fold-font .b-font:before {
  content: '\e610';
  color: #808080;
}
.node-fold-font:active .b-font:before {
  content: '\e610';
  color: #808080;
}
.node-fold-font.active .b-font:before {
  content: '\e611';
  color: #808080;
}
.node-fold-font.disabled .b-font:before {
  content: '\e610';
  color: #808080;
}
.setting-font .b-font:before {
  content: '\e62a';
  color: #808080;
}
.setting-font.disabled .b-font:before {
  content: '\e62a';
  color: #808080;
}
.single-select-font .b-font:before {
  content: '\e618';
  color: #ffffff;
}
.single-select-font.active .b-font:before {
  content: '\e618';
  color: #009de3;
}
.single-select-font.disabled .b-font:before {
  content: '\e618';
  color: #ffffff;
}
