/****添加计算宽度的--运算符直接需要space****/
/****** common color(常用颜色,可用于普遍场景) *****/
/**** custom color(自定义颜色,用于特定场景) ****/
.list-item-stress:active {
  color: #009de3;
}
.list-item-stress.disabled,
.list-item-stress.disabled:hover,
.list-item-stress.disabled:active {
  color: #1a1a1a;
}
/*******************widgets****************/
.bi-dashboard-widget {
  background: #ffffff;
}
.bi-dashboard-widget .dashboard-title-left .shelter-editor-text {
  cursor: default;
}
.bi-dashboard-widget .dashboard-title-left .shelter-editor-text .bi-text {
  text-align: left !important;
  font-size: 14px;
}
.bi-dashboard-widget .dashboard-title-center .shelter-editor-text {
  cursor: default;
}
.bi-dashboard-widget .dashboard-title-center .shelter-editor-text .bi-text {
  text-align: center !important;
  font-size: 14px;
}
.bi-dashboard-widget .operator-region {
  z-index: 100000;
}
.bi-dashboard-widget .delete-button {
  font-size: 14px;
  background-color: #ffffff;
}
.bi-dashboard-widget .remove-button {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  background: #ffffff;
}
.bi-dashboard-widget .dashboard-title-detail {
  font-size: 16px;
}
.bi-dashboard-widget .query-or-reset-button {
  background: #009de3;
  color: #ffffff;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  font-size: 14px;
}
.bi-dashboard-widget .query-or-reset-button:hover {
  opacity: 0.8;
  filter: alpha(opacity=80);
}
