/****添加计算宽度的--运算符直接需要space****/
/****** common color(常用颜色,可用于普遍场景) *****/
/**** custom color(自定义颜色,用于特定场景) ****/
/*******************widgets****************/
.bi-dashboard-widget {
  background: #ffffff;
}
.bi-dashboard-widget .dashboard-title-left .shelter-editor-text {
  cursor: default;
}
.bi-dashboard-widget .dashboard-title-left .shelter-editor-text .bi-text {
  text-align: left !important;
  font-size: 14px !important;
}
.bi-dashboard-widget .dashboard-title-center .shelter-editor-text {
  cursor: default;
}
.bi-dashboard-widget .dashboard-title-center .shelter-editor-text .bi-text {
  text-align: center !important;
  font-size: 14px !important;
}
.bi-dashboard-widget .operator-region {
  z-index: 100000;
}
.bi-dashboard-widget .delete-button {
  font-size: 14px;
  background-color: #ffffff;
}
.bi-dashboard-widget .remove-button {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  background: #ffffff;
}
