/****添加计算宽度的--运算符直接需要space****/
/****** common color(常用颜色,可用于普遍场景) *****/
/**** custom color(自定义颜色,用于特定场景) ****/
.bi-normal-header-cell > table > tbody > tr > td {
  max-width: 0;
}
.bi-normal-header-cell .header-cell-text {
  font-size: 14px;
  font-weight: bold;
}
