@import "../../bibase";

.bi-accumulation-group {
  & .default-accumulate-group {
    border: 1px solid @color-bi-border-normal;
    & .accumulate-item {
      border: 1px solid @color-bi-border-normal;
    }
  }
  & .ui-sortable-helper {
    background-color: @background-color-default;
    border: 1px solid @color-bi-border-normal;
  }
}