/****添加计算宽度的--运算符直接需要space****/
/****** common color(常用颜色,可用于普遍场景) *****/
/**** custom color(自定义颜色,用于特定场景) ****/
.bi-detailed-setting .detailed-setting-popup {
  border: 1px solid #d4dadd;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
.bi-detailed-setting .data-label-position-icon {
  border: 1px solid #ffffff;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  font-size: 22px;
}
.bi-detailed-setting .data-label-position-icon:hover {
  background: #f4f4f4;
}
.bi-detailed-setting .data-label-position-icon.active {
  border: 1px solid #009de3;
}
