@import "../../../bibase";
.bi-single-add-role-searcher{
  & .role-item{
    border: 1px solid @color-bi-border-normal;
    .border-radius(2px);
    &.active{
      color: @color-bi-text;
      background: @color-bi-background-highlight;
    }
  }
}