@import "../../bibase";

.bi-maximization-4show-chart-pane {
  background: @color-bi-background-default;
  .box-shadow(0 0 20px, rgba(0, 0, 0, 0.2));
  & .dashboard-title-detail {
    font-size: @font-size-16;
  }
  & .dashboard-title-left {
    & .shelter-editor-text {
      cursor: default;
      & .bi-text {
        text-align: left;
        font-size: @font-size-14;
      }
    }
  }
}