@import "../../bibase";
.bi-cube-path-confirm{
  & .cube-path-confirm-icon{
    font-size: 50px;
    color: @color-bi-background-warning;
  }
  & .cube-path-warning-tip{
    font-size: @font-size-16;
    color: @color-bi-text-warning;
  }
  & .cube-path-normal-tip{
    font-size: @font-size-14;
    color: @color-bi-text-gray;
  }
}