@import "../../../../bibase";
.bi-merge-result-header{
  & > div > div > table > tbody > tr > td{
    border-top: 1px solid @color-bi-border-normal !important;
    border-bottom: 1px solid @color-bi-border-normal;
    border-right: 1px solid @color-bi-border-normal;
    min-width: 120px;
  }
  & .result-table{
    background: @color-table-result-background;
  }
  & .table-color0{
    background: @color-table-background1;
  }
  & .table-color1{
    background: @color-table-background2;
  }
  & .table-color2{
    background: @color-table-background3;
  }
  & .table-color3{
    background: @color-table-background4;
  }
  & .table-color4{
    background: @color-table-background5;
  }
}