@import "../../../../bibase";

.bi-dimension-switch-region-show {
  background: @color-bi-background-default;
  & .dimension-wrapper {
    background: @background-color-light-blue;
  }
  & .target-wrapper {
    background: @background-color-light-green;
  }
  &.control-show-by-z-index {
    background: @color-bi-background-default;
    z-index: 1;
  }
}