/****添加计算宽度的--运算符直接需要space****/
/****** common color(常用颜色,可用于普遍场景) *****/
/**** custom color(自定义颜色,用于特定场景) ****/
.bi-set-relation-pane .setting-tip-label {
  font-size: 14px;
  color: #808080;
}
.bi-set-relation-pane .select-path-region {
  border: 1px solid #d4dadd;
  min-height: 240px;
}
