/****添加计算宽度的--运算符直接需要space****/
/****** common color(常用颜色,可用于普遍场景) *****/
/**** custom color(自定义颜色,用于特定场景) ****/
.bi-table-field-info-search-result-pane {
  background: #ffffff;
}
.bi-table-field-info-search-result-pane .no-result-comment {
  color: #808080;
}
.bi-table-field-info-search-result-pane > div > div > table {
  border-left: 1px solid #d4dadd;
  border-top: 1px solid #d4dadd;
}
.bi-table-field-info-search-result-pane > div > div > table > thead > tr > td {
  background: #f4f4f4;
}
.bi-table-field-info-search-result-pane > div > div > table > tbody > tr > td:nth-child(4):hover {
  background: #d4dadd;
}
.bi-table-field-info-search-result-pane > div > div > table > tbody > tr > td:nth-child(1) {
  background: #f4f4f4;
}
.bi-table-field-info-search-result-pane > div > div > table > tbody > tr > td:nth-child(2) {
  background: #f4f4f4;
}
.bi-table-field-info-search-result-pane > div > div > table td {
  border-right: 1px solid #d4dadd;
  border-bottom: 1px solid #d4dadd;
}
.bi-table-field-info-search-result-pane .field-type {
  font-size: 18px;
}
