/****添加计算宽度的--运算符直接需要space****/
/****** common color(常用颜色,可用于普遍场景) *****/
/**** custom color(自定义颜色,用于特定场景) ****/
.bi-accumulation-container {
  border: 1px solid #d4dadd;
}
.bi-accumulation-container .items-container {
  min-height: 123px;
}
.bi-accumulation-container .items-container .accumulate-item {
  border: 1px solid #d4dadd;
}
