@import "../../../../../../bibase";

.bi-circle-two-condition-switch{
  & .level-condition{
    max-width: 460px;
  }

  & .field-popup{
    background-color: @background-color-light-blue;
    border: 1px solid @background-color-light-blue;
    .border-radius(2px);
    color: @color-bi-text-gray;
    font-size: @font-size-14;
  }
}