@import "../../../../../../bibase";

.bi-circle-operator-pane {
  & .operator-label-text {
    color: @color-bi-text-gray;
    font-size: @font-size-14;
  }

  & .level-length-editor{
    border: 1px solid @color-bi-border-normal;
    .border-radius(2px);
  }

  & .manage-combo-trigger{
    border: 1px solid @color-bi-border-normal;
    .border-radius(2px)
  }
}