/****添加计算宽度的--运算符直接需要space****/
/****** common color(常用颜色,可用于普遍场景) *****/
/**** custom color(自定义颜色,用于特定场景) ****/
.bi-business-package .business-package-table-num-label {
  color: #f07d0a;
}
.bi-business-package.active {
  background-color: #eefbff;
}
.bi-business-package.hover {
  background-color: #f4f4f4;
}
.bi-business-package .delete-font-style {
  font-size: 16px;
  border: 1px solid #eaeaea;
  background-color: #ffffff;
  border-radius: 2px;
}
.bi-business-package .rename-font-style {
  font-size: 16px;
  border: 1px solid #eaeaea;
  background-color: #ffffff;
  border-radius: 2px;
}
