@import "../../../bibase";

.bi-excel-view-setting-table{
  border-left: 1px solid @color-bi-border-line;
  border-top: 1px solid @color-bi-border-line;
  border-right: 1px solid @color-bi-border-line;
}