@import "../../bibase";
.bi-popup-saveas{
  & .template-name-label{
    font-size: @font-size-14;
    color: @color-bi-text-gray;
  }
  & .template-name-input{
    border: 1px solid @color-bi-border-normal;
    .border-radius(2px);
  }
  & .template-location-label{
    font-size: @font-size-14;
    color: @color-bi-text-gray;
  }
  & .template-location-combo{
  }
}