@import "../../bibase";

.bi-relation-view-region{
  & .relation-view-region-container{
    background: @color-bi-background-default;
    border: 1px solid @color-bi-border-normal;
    z-index: 1;
    & .relation-view-region-title{
      border-bottom: 1px solid @color-bi-border-normal;
    }
  }
}