@import "../../bibase";
.bi-permission-manage{
  & .login-info{
    & .select-field{
      color: @color-bi-text-highlight;
      text-decoration: underline;
    }
    & .login-info-text{
      color: @color-bi-text-gray;
    }
  }
}