@import "../../bibase";

.bi-interactive-arrangement {
  & .interactive-arrangement-dragtag-line {
    z-index: @zIndex-layer;
    background-color: @color-bi-background-highlight;
  }
  & .interactive-arrangement-dragtag-icon {
    z-index: @zIndex-layer;
  }
}