@import "../../../../../bibase";
.bi-normal-expander-cell{
  .user-select(initial);
  & .cross-item-cell{
  }
  & .drill-combo{
    font-size: @font-size-12;
    font-weight: normal;
    color: @color-bi-text-gray;
  }
}