@import "../../../../../bibase";
.bi-normal-expander-cell{
  color: @color-bi-text-gray;
  & .expander-cell-text{
    max-width: 500px;
  }
  & .cross-item-cell{
    font-size: @font-size-14;
    color: @color-bi-text;
    font-weight: bold;
  }
}