@import "../../../../../bibase";
.bi-normal-header-cell{
  & > table > tbody > tr > td {
    max-width: 0;
  }
  & .header-cell-text{
    font-size: @font-size-14;
    color: @color-bi-text-gray;
    font-weight: bold;
  }
}