@import "../../../bibase";

.bi-business-package {
  & .business-package-table-num-label {
    color: @color-bi-text-redmark;
  }
  &.active {
    background-color: @color-bi-background-green;
  }
  &.hover {
    background-color: @color-bi-background-gray;
  }
  & .delete-font-style {
    font-size: 16px;
    border: 1px solid @color-bi-background-light;
    background-color: @color-bi-background-default;
    border-radius: 2px;
  }
  & .rename-font-style {
    font-size: 16px;
    border: 1px solid @color-bi-background-light;
    background-color: @color-bi-background-default;
    border-radius: 2px;
  }
  & .editor-border {
    border: 1px solid @color-bi-border-highlight;
  }
  & .package-not-selected-font {
    font-size: 20px;
  }

  & .package-selected-font {
    font-size: 20px;
  }

}

