/****添加计算宽度的--运算符直接需要space****/
/****** common color(常用颜色,可用于普遍场景) *****/
/**** custom color(自定义颜色,用于特定场景) ****/
.bi-join-type-button .operator-left-triangle {
  border-top: 25px solid #ffffff;
  border-right: 16px solid #d8f2fd;
}
.bi-join-type-button .operator-center {
  background: #d8f2fd;
}
.bi-join-type-button .operator-right-triangle {
  border-bottom: 25px solid #ffffff;
  border-left: 16px solid #d8f2fd;
}
