@import "../../bibase";
.bi-data-label {
  border: 1px solid @color-bi-border-normal;
  background-color: @background-color-active;
  .data-label-header {
    border-bottom: 1px solid @color-bi-border-normal;
    .header-title {
      font-size: @font-size-16;
    }
    .header-icon {
      font-size: @font-size-22;
    }
  }
}