/****添加计算宽度的--运算符直接需要space****/
/****** common color(常用颜色,可用于普遍场景) *****/
/**** custom color(自定义颜色,用于特定场景) ****/
.bi-target-label-control .target-region {
  max-width: 520px;
}
.bi-target-label-control .setting-tip-label {
  font-size: 14px;
  color: #808080;
}
.bi-target-label-control .target-name-label {
  font-size: 14px;
  color: #009de3;
  max-width: 520px;
}
.bi-target-label-control .table-name-label {
  font-size: 14px;
  color: #808080;
}
