/****添加计算宽度的--运算符直接需要space****/
/****** common color(常用颜色,可用于普遍场景) *****/
/**** custom color(自定义颜色,用于特定场景) ****/
.list-item-stress:active {
  color: #009de3;
}
.list-item-stress.disabled,
.list-item-stress.disabled:hover,
.list-item-stress.disabled:active {
  color: #1a1a1a;
}
.bi-global-style-index-prediction-style {
  background: #f3f3f3;
}
.bi-global-style-index-prediction-style .button-shadow.active {
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}
