/****添加计算宽度的--运算符直接需要space****/
/****** common color(常用颜色,可用于普遍场景) *****/
/**** custom color(自定义颜色,用于特定场景) ****/
/****** common color(常用颜色,可用于普遍场景) *****/
/**** custom color(自定义颜色,用于特定场景) ****/
.bi-analysis-etl-p-t-h-cell {
  background: #f4f4f4;
  height: 100%;
}
.bi-analysis-etl-p-t-h-cell .bi-etl-filter-combo {
  background: #ffffff;
  border: 1px solid #d4dadd;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
.bi-analysis-etl-p-t-h-cell .bi-label {
  font-size: 14px;
}
.bi-analysis-etl-p-t-h-cell {
  transition: width 0.5s ease;
  -webkit-transition: width 0.5s ease;
  -moz-transition: width 0.5s ease;
  -o-transition: width 0.5s ease;
}
