/****添加计算宽度的--运算符直接需要space****/
/****** common color(常用颜色,可用于普遍场景) *****/
/**** custom color(自定义颜色,用于特定场景) ****/
.bi-pane-view-show {
  background: #f3f3f3;
}
.bi-pane-view-show .dashboard-toolbar {
  border-bottom: 1px solid #d4dadd;
  color: #808080;
}
