/****添加计算宽度的--运算符直接需要space****/
/****** common color(常用颜色,可用于普遍场景) *****/
/**** custom color(自定义颜色,用于特定场景) ****/
.bi-show-target-region-wrapper .target-sortable-helper {
  background: #e1f4e7;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
.bi-show-target-region-wrapper .target-region {
  border: 1px solid #9fd3ae;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
.bi-show-target-region-wrapper .drag-tool {
  border-right: 1px solid #9fd3ae;
  cursor: move;
}
