/****添加计算宽度的--运算符直接需要space****/
/****** common color(常用颜色,可用于普遍场景) *****/
/**** custom color(自定义颜色,用于特定场景) ****/
.bi-test-link-loading-mask .mask-pane {
  background: #ffffff;
  opacity: 0.8;
  filter: alpha(opacity=80);
}
.bi-test-link-loading-mask .link-name {
  font-size: 16px;
  color: #1a1a1a;
}
.bi-test-link-loading-mask .loading-comment {
  font-size: 16px;
  color: #808080;
}
.bi-test-link-loading-mask .test-connection-fail-comment {
  font-size: 20px;
  color: #808080;
}
.bi-test-link-loading-mask .test-connection-success-comment {
  font-size: 20px;
  color: #58cc7d;
}
.bi-test-link-loading-mask .test-connection-fail-detail-button {
  font-size: 14px;
  color: #009de3;
}
.bi-test-link-loading-mask .test-fail-detail-info {
  border: 1px solid #d4dadd;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  background: #f4f4f4;
}
