/****添加计算宽度的--运算符直接需要space****/
/****** common color(常用颜色,可用于普遍场景) *****/
/**** custom color(自定义颜色,用于特定场景) ****/
.bi-chart-type {
  background: #f3f3f3;
  border: 1px solid #eaeaea;
}
.bi-chart-type .chart-type-combo .bi-icon-change-button:hover,
.bi-chart-type .chart-type-combo .bi-icon-change-button.hover {
  background-color: #d4dadd;
}
.bi-chart-type .chart-type-combo .bi-icon-change-button:active,
.bi-chart-type .chart-type-combo .bi-icon-change-button.active {
  background-color: #d4dadd;
}
.bi-chart-type .chart-type-icon {
  font-size: 22px;
}
.bi-chart-type .chart-type-icon:hover,
.bi-chart-type .chart-type-icon.hover {
  background-color: #d4dadd;
}
.bi-chart-type .chart-type-icon:active,
.bi-chart-type .chart-type-icon.active {
  background-color: #d4dadd;
}
