@import "../../bibase";
.bi-global-update-setting{
  min-height: 100px;
  border: 1px solid @color-dimension-region-border;
  .border-radius(2px);
  & .add-time-toolbar{
    background: @color-bi-background-green;
    border-bottom: 1px solid @color-dimension-region-border;
    & .add-time-comment{
      font-size: @font-size-14;
      color: @color-bi-text-gray;
    }
  }
}