@import "../../../bibase";

.bi-sequence-detail-table-list-number {
  & .sequence-detail-table-title-cell {
    .overflow-hidden();
    .box-sizing(border-box);
    border: 1px solid @color-bi-border-line;
  }
  & .sequence-detail-table-number-cell {
    .box-sizing(border-box);
    border-left: 1px solid @color-bi-border-line;
    border-right: 1px solid @color-bi-border-line;
    border-bottom: 1px solid @color-bi-border-line;
  }
}