@import "../../bibase";

.bi-detail-table-react {
  & .no-data-detail-comment {
    color: @color-bi-text-gray;
    font-size: @font-size-14;
  }
  & .contact-admin-comment {
    color: @color-bi-text-gray;
    font-size: @font-size-16;
  }
  & .widget-tip-pane {
    z-index: 2;
    background: @color-bi-background-default;
    & .empty-widget-tip {
      font-size: @font-size-14;
      color: @color-bi-text-tips;
    }
    & .contact-admin-tip {
      font-size: @font-size-16;
      color: @color-bi-text-tips;
    }
  }
}