@import "../../../bibase";

.bi-template-manager-file-item{
  border-bottom: 1px solid @color-bi-border-line;
  & .template-item-icon{
    font-size: @font-size-16;
  }
  & .template-file-item-date{
    font-size: @font-size-14;
    color: @color-bi-text-gray;
  }
  & .template-item-mark-icon{
    background: @color-bi-background-default;
  }
}