/****添加计算宽度的--运算符直接需要space****/
/****** common color(常用颜色,可用于普遍场景) *****/
/**** custom color(自定义颜色,用于特定场景) ****/
.data-label-condition-item {
  border: 0;
}
.data-label-condition-item .item-content {
  border: 1px solid #d4dadd;
  border-radius: 2px;
}
.data-label-condition-item .condition-trigger {
  border-left: 1px solid #d4dadd;
}
.data-label-condition-item .close-h-font {
  color: #d4dadd;
  font-size: 16px;
  display: none;
}
.data-label-condition-item:hover .close-h-font {
  display: block;
}
