/****添加计算宽度的--运算符直接需要space****/
/****** common color(常用颜色,可用于普遍场景) *****/
/**** custom color(自定义颜色,用于特定场景) ****/
.data-label-condition-item {
  min-width: 560px;
  border-radius: 2px;
  border-top: 1px solid #d4dadd;
  border-left: 1px solid #d4dadd;
}
.data-label-condition-item .condition-trigger {
  border-left: 1px solid #d4dadd;
  border-right: 1px solid #d4dadd;
}
.data-label-condition-item:hover .close-h-font {
  display: block;
}
.data-label-condition-item .trigger-icon {
  color: #009de3;
}
.data-label-condition-item img {
  display: block;
}
