/****添加计算宽度的--运算符直接需要space****/
/****** common color(常用颜色,可用于普遍场景) *****/
/**** custom color(自定义颜色,用于特定场景) ****/
.condition-item {
  min-width: 560px;
  border-bottom: 1px solid #d4dadd;
}
.condition-item .condition-trigger {
  border-left: 1px solid #d4dadd;
  border-right: 1px solid #d4dadd;
}
.condition-item .trigger-icon {
  color: #009de3;
}
.condition-item .condition-operator-input {
  border: 1px solid #d4dadd;
}
.condition-item .delete-icon {
  opacity: 0;
  filter: alpha(opacity=0);
}
.condition-item:hover .delete-icon {
  opacity: 1;
  filter: alpha(opacity=100);
}
