@import "../../../../bibase";

.bi-widget-attribute-setter {
  background: @color-bi-background-normal;

  & .widget-attr-west {
    & .widget-select-data-pane {
      background: @color-bi-background-default;
      .border-radius(2px);
    }
  }

  & .widget-attr-center {
    & .widget-top-wrapper {
      background: @color-bi-background-default;
      .border-radius(2px);
    }
    & .widget-center-wrapper {
      background: @color-bi-background-default;
      .border-radius(2px);
    }
  }
}