/* Base Application Styles */
html {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

body {
    color: #1a1a1a;
    width: 100%;
    height: 100%;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

#app {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
}
