@import "../index";

.base-disabled {
  cursor: default !important;
  color: #c4c6c6 !important;
  //.opacity(0.5);
  & .b-font:before {
    color: #c4c6c6 !important;
  }
}

.base-invalid {
  cursor: default !important;
}

.clearfix {
  .clearfix();
}

.sortable-helper{
  z-index: 999999;
}
