@import "../image";
@import "../lib/icon";

//Tree Widget
.drag-handler-icon {
  & .x-icon {
    background-image: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 50 50"><path d="M0 7.5v5h50v-5H0zm0 15v5h50v-5H0zm0 15v5h50v-5H0z" color="#000"/></svg>');
    background-size: contain;
    background-repeat: no-repeat;
  }
}