@import "../../bibase";

.bi-linkage {
  & .linkage-tool-bar{
    z-index: @zIndex-masker;
    & .linkage-tool-bar-mask{
      background: @color-bi-background-default;
      .opacity(.85);
    }
    & .linkage-toolbar-title {
      font-size: @font-size-14;
      background-color: @color-bi-background-gray;
      color: @color-bi-text-gray;
    }
    & .single-target-container{
      border: 1px solid @color-bi-border-normal;
      background-color: @color-bi-background-default;
      .border-radius(2px);
      & .widget-type-icon{
        font-size: 20px;
      }
      & .linkage-toolbar-target {
        background: @color-bi-background-gray;
        cursor: move;
        border-bottom: 1px solid @color-bi-border-normal;
        & .linkage-toolbar-target-name {
        }
        & .linkage-toolbar-target-linkto {
          color: @color-bi-text-gray;
        }
      }
      & .linkage-toolbar-target-cal {
        border: 1px solid @color-bi-border-normal;
        background: @color-bi-background-default;
      }
    }
  }
  & .linkage-widget{
    & .linkage-widget-title{
      font-size: @font-size-16;
    }
  }

  & .linkage-widget-mask{
    background: @color-bi-background-virtual-blue;
    .opacity(.5)
  }

  & .linkage-widget-disabled{
    font: @font-size-13;
    & .linkage-widget-disabled-item{
      background: @background-color-light;
      border:1px solid @border-color-dark;
      border-radius: @radius-2;
      &.active {
        color: @font-color-highlight;
      }
    }
  }

  & .linkage-widget-disabled-mask{
    background: @color-bi-background-disabled;
    .opacity(.8)
  }

  & .linkage-widget-self{
    background: @color-bi-background-default;
    border: 2px solid @border-color-outline;
  }

  & .linkage-widget-control{
    background: @color-bi-background-gray;
    .opacity(.8)
  }

  & .linkage-drop-helper{
    border: 1px solid @color-bi-text-success;
    color: @color-bi-text-success
  }

  & .bi-message-mask{
    .opacity(0)
  }
}