@import "../../bibase";

.bi-custom-group {
  & .bi-custom-group-group-name {
    border-bottom: 1px solid;
    border-color: @color-bi-border-normal;
  }
  & .bi-custom-group-search {
    z-index: 1;
  }
  & .bi-custom-group-disable-mask {
    background-color: @color-bi-background-default;
  }
  & .mask-label {
    font-size: 20px;
  }
}

.bi-custom-group-searchpane {
  background-color: @color-bi-background-default;
}