@import "../../bibase";

.bi-custom-sort-item {
  border: 1px solid @color-bi-border-normal;
  background: @color-bi-background-default;
  .border-radius(2px);
  & .bi-button-mask {
    .opacity(0.03)
  }
}

.bi-sortable-holder {
  border: 1px dashed @color-bi-border-normal;
  .border-radius(2px);
}