@import "../../../bibase";
.bi-folder-card-view-item{
  &:hover, &.active{
    background: @color-bi-background-gray;
  }
  & .tool-rename-icon{
    font-size: @font-size-16;
    border: 1px solid @color-bi-border-normal;
    .border-radius(2px);
    background: @color-bi-background-default;
    &:hover{
      background: @color-bi-background-gray;
    }
  }
  & .tool-delete-icon{
    font-size: @font-size-16;
    border: 1px solid @color-bi-border-normal;
    .border-radius(2px);
    background: @color-bi-background-default;
    &:hover{
      background: @color-bi-background-gray;
    }
  }
}