@import "../../../bibase";
.bi-data-label-text-toolbar{
  .bi-data-tab-text-toolbar {
    border-top: 1px solid @border-color-normal;
  }
  .text-toolbar-button {
    font-size: @font-size-16;
  }
  .text-toolbar-size-chooser-trigger{
    .bi-trigger-icon-button{
      font-size: @font-size-12;
    }
  }
}