/****添加计算宽度的--运算符直接需要space****/
/****** common color(常用颜色,可用于普遍场景) *****/
/**** custom color(自定义颜色,用于特定场景) ****/
.bi-maximization-4show-chart-pane {
  background: #ffffff;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}
.bi-maximization-4show-chart-pane .dashboard-title-detail {
  font-size: 16px;
}
.bi-maximization-4show-chart-pane .dashboard-title-left .shelter-editor-text {
  cursor: default;
}
.bi-maximization-4show-chart-pane .dashboard-title-left .shelter-editor-text .bi-text {
  text-align: left !important;
  font-size: 14px;
}
.bi-maximization-4show-chart-pane .dashboard-title-center .shelter-editor-text {
  cursor: default;
}
.bi-maximization-4show-chart-pane .dashboard-title-center .shelter-editor-text .bi-text {
  text-align: center !important;
  font-size: 14px;
}
