@import "../../bibase";

.bi-all-pager{
  & .all-pager-prev{
    font-size: @font-size-16;
    background: @color-bi-background-gray;
  }
  & .all-pager-next{
    font-size: @font-size-16;
    background: @color-bi-background-gray;
  }
}