/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

table {
    border-spacing: 0;
}

.importButton{
    position:absolute;
    top:380px;
    left:824px;
    width:80px;
    height:25px;
    line-height:25px;
    cursor: pointer;
    text-align:center;
    border-radius:2px;
    border:1px solid #c5c5c5;
}

.deleteButton{
    position:absolute;
    top:380px;
    left:640px;
    width:80px;
    height:25px;
    line-height:25px;
    cursor: pointer;
    text-align:center;
    border-radius:2px;
    border:1px solid #c5c5c5;
    background:#e75050;
    color:white;
}

.addButton{
    position:absolute;
    top:380px;
    left:556px;
    width:80px;
    height:25px;
    line-height:25px;
    cursor: pointer;
    text-align:center;
    border-radius:2px;
    border:1px solid #c5c5c5;
    background:#009ce2;
    color:white;
}

.saveButton{
    position:absolute;
    right:0px;
    width:80px;
    height:25px;
    line-height:25px;
    cursor: pointer;
    text-align:center;
    border-radius:2px;
    border:1px solid #c5c5c5;
    background:#1d8cd5;
    color:white;
}

.resetButton{
    position:absolute;
    right:90px;
    width:80px;
    height:25px;
    line-height:25px;
    cursor: pointer;
    text-align:center;
    border-radius:2px;
    border:1px solid #c5c5c5;
    background:white;
}

.areaTab{
    position:absolute;
    top:10px;
    left:0px;
    width:100px;
    height:25px;
    line-height:25px;
    cursor: pointer;
    text-align:center;
    background:#1d8cd5;
}

.pointTab{
    position:absolute;
    top:10px;
    left:100px;
    width:100px;
    height:25px;
    line-height:25px;
    cursor: pointer;
    text-align:center;
    background:#e4e8ed;
}

.mapContainer{
    position:absolute;
    top:35px;
    left:0px;
    width:906px;
    height:415px;
    overflow:hidden;
}

.pointMap{
    position:absolute;
    top:0px;
    left:0px;
    width:540px;
    height:415px;
    overflow:hidden;
}

.pointTableHead{
    position:absolute;
    top:0px;
    left:552px;
    width:351px;
    height:32px;
    overflow:hidden;
    text-align:center;
}

.pointTable{
    position:absolute;
    top:32px;
    left:552px;
    width:351px;
    height:338px;
    overflow:scroll;
    text-align:center;
}

.tableHead{
    position:relative;
    width:117px;
    height:32px;
    border-left:1px solid #c5c5c5;
    background:#278dd2;
    color:white;
}

.importImage{
    position:absolute;
    top:220px;
    left:410px;
    width:80px;
    height:25px;
    line-height:25px;
    cursor: pointer;
    text-align:center;
    border-radius:2px;
    border:1px solid #c5c5c5;
    color:#ffffff;
    background:#009ce2;
}

.importMsg{
    position:absolute;
    top:250px;
    left:350px;
    width:200px;
    height:25px;
    line-height:25px;
    text-align:center;
    color:#d4dadd;
    font-size:16px;
}

.previewTitle{
    position:absolute;
    top:18px;
    left:20px;
    height:25px;
    line-height:25px;
    text-align:left;
    color:#808080;
    font-size:16px;
}

.previewTable{
    position:absolute;
    top:53px;
    left:20px;
    width:561px;
    height:395px;
    overflow:scroll;
    text-align:center;
}

.previewTableHead{
    position:relative;
    width:187px;
    height:32px;
    background:#f4f4f4;
    color:#1a1a1a;
    font-size:13px;
}

.previewConfirmButton{
    position:absolute;
    top:460px;
    right:20px;
    width:80px;
    height:25px;
    line-height:25px;
    cursor: pointer;
    text-align:center;
    border-radius:2px;
    border:1px solid #c5c5c5;
    background:#1d8cd5;
    color:white;
}

.previewCancelButton{
    position:absolute;
    top:460px;
    right:110px;
    width:80px;
    height:25px;
    line-height:25px;
    cursor: pointer;
    text-align:center;
    border-radius:2px;
    border:1px solid #c5c5c5;
    background:white;
}

/* base */
body#geojsonio-body {
    margin:0; padding:0;
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size:15px;
    line-height:20px;
    color:#222;
    -webkit-font-smoothing:antialiased;
}

:focus { outline:0; }

/* Columns
------------------------------------------------------- */

.col0    { float:left; width:04.1666%; }
.col1    { float:left; width:08.3333%; }
.col2    { float:left; width:16.6666%; }
.col3    { float:left; width:25.0000%; }
.col4    { float:left; width:33.3333%; }
.col5    { float:left; width:41.6666%; }
.col6    { float:left; width:50.0000%; }
.col7    { float:left; width:58.3333%; }
.col8    { float:left; width:66.6666%; }
.col9    { float:left; width:75.0000%; }
.col10   { float:left; width:83.3333%; }
.col11   { float:left; width:91.6666%; }
.col12   { float:left; width:100.0000%; }
.margin0  { margin-left: 04.1666%; }
.margin1  { margin-left: 08.3333%; }
.margin2  { margin-left: 16.6666%; }
.margin3  { margin-left: 25.0000%; }
.margin4  { margin-left: 33.3333%; }
.margin5  { margin-left: 41.6666%; }
.margin6  { margin-left: 50.0000%; }
.margin7  { margin-left: 58.3333%; }
.margin8  { margin-left: 66.6666%; }
.margin9  { margin-left: 75.0000%; }
.margin10 { margin-left: 83.3333%; }
.margin11 { margin-left: 91.6666%; }
.margin12 { margin-left: 100.0000%; }

/* Padding
------------------------------------------------------- */

.pad0  { padding:5px; }
.pad0y { padding-top:5px; padding-bottom:5px; }
.pad0x { padding-right:5px; padding-left:5px; }

.pad1    { padding:10px; }
.pad2    { padding:20px; }
.pad4    { padding:40px; }

.pad1x { padding-left: 10px; padding-right: 10px;}
.pad2x { padding-left: 20px; padding-right: 20px;}
.pad4x { padding-left: 40px; padding-right: 40px;}

.pad1y { padding-top: 10px; padding-bottom: 10px;}
.pad2y { padding-top: 20px; padding-bottom: 20px;}
.pad4y { padding-top: 40px; padding-bottom: 40px;}

/* Margin
------------------------------------------------------- */

.space-bottom0                { margin-bottom: 5px;}
.space-bottom1                { margin-bottom:10px; }
.space-bottom2                { margin-bottom:20px; }
.space-bottom4                { margin-bottom:40px; }
.space-top0                   { margin-top: 5px; }
.space-top1                   { margin-top: 10px; }
.space-top2                   { margin-top: 20px; }
.space-top4                   { margin-top: 40px;}

/* Z-index
------------------------------------------------------- */

.z1   { z-index:1; }
.z10  { z-index:10; }
.z100 { z-index:100; }

/* Absolute containers
------------------------------------------------------- */
.pin-top,
.pin-right,
.pin-bottom,
.pin-left,
.pin-topleft,
.pin-topright,
.pin-bottomleft,
.pin-bottomright {
    position:absolute;
}
.pin-bottom { right:0; bottom:0; left:0; }
.pin-top    { top:0; right:0; left:0; }
.pin-left   { top:0; bottom:0; left:0; }
.pin-right  { top:0; right:0; bottom:0; }
.pin-bottomright { bottom:0; right:0; }
.pin-bottomleft  { bottom:0; left:0; }
.pin-topright    { top:0; right:0; }
.pin-topleft     { top:0; left:0; }

/* Keylines
------------------------------------------------------- */
.keyline-all    { border:1px solid #ccc; }
.keyline-top    { border-top:1px solid #ccc; }
.keyline-right  { border-right:1px solid #ccc; }
.keyline-bottom { border-bottom:1px solid #ccc; }
.keyline-left   { border-left:1px solid #ccc; }

/* Markup free clearing
Details: http://www.positioniseverything.net/easyclearing.html
------------------------------------------------------- */

.clearfix:after {
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.clearfix { display: inline-block; }
.hide { display:none; }
.fl { float:left; }
.fr { float:right; }
.center { text-align:center; }
.text-right { text-align: right;}
