@import "../../../bibase";

.bi-chart-type{
  background: @color-bi-background-normal;
  border: 1px solid @color-bi-border-line;
  & .chart-type-icon, & .icon-combo-trigger-icon{
    font-size: 22px;
  }
}