@import "../../bibase";

.bi-update-excel-popup {
  & .excel-update-bar {
    border-bottom: 1px solid @border-color-normal;
  }
  & .excel-help-combo {
    font-size: @font-size-16;
  }
  & .label-text {
    & .bi-text {
      color: @font-color-gray;
      font-size: @font-size-14;
    }
  }
}