@import "../../bibase";
.bi-data-link-tab {
  & .data-link-groups {
    .border-radius(2px);
    background: @color-bi-background-default;
    & .nav-title {
      border-bottom: 1px solid @color-bi-border-normal;
      font-size: @font-size-14;
      color: @color-bi-text-gray;
    }
    & .nav-button1 {
      .border-radius(2px);
      font-size: @font-size-14;
      &:hover, &.active {
        color: @color-bi-text;
        background: @color-bi-data-link-button-color1;
      }
    }
    & .nav-button2 {
      .border-radius(2px);
      font-size: @font-size-14;
      &:hover, &.active {
        color: @color-bi-text;
        background: @color-bi-data-link-button-color2;
      }
    }
    & .nav-button3 {
      .border-radius(2px);
      font-size: @font-size-14;
      &:hover, &.active {
        color: @color-bi-text;
        background: @color-bi-data-link-button-color3;
      }
    }
    & .nav-button4 {
      .border-radius(2px);
      font-size: @font-size-14;
      &:hover, &.active {
        color: @color-bi-text;
        background: @color-bi-data-link-button-color4;
      }
    }
    & .nav-button5 {
      .border-radius(2px);
      font-size: @font-size-14;
      &:hover, &.active {
        color: @color-bi-text;
        background: @color-bi-data-link-button-color5;
      }
    }
    & .nav-button6 {
      .border-radius(2px);
      font-size: @font-size-14;
      &:hover, &.active {
        color: @color-bi-text;
        background: @color-bi-data-link-button-color6;
      }
    }
    & .nav-button7 {
      .border-radius(2px);
      font-size: @font-size-14;
      &:hover, &.active {
        color: @color-bi-text;
        background: @color-bi-data-link-button-color7;
      }
    }
    & .nav-button8 {
      .border-radius(2px);
      font-size: @font-size-14;
      &:hover, &.active {
        color: @color-bi-text;
        background: @color-bi-data-link-button-color8;
      }
    }
    & .nav-button9 {
      .border-radius(2px);
      font-size: @font-size-14;
      &:hover, &.active {
        color: @color-bi-text;
        background: @color-bi-data-link-button-color9;
      }
    }
    & .nav-button10 {
      .border-radius(2px);
      font-size: @font-size-14;
      &:hover, &.active {
        color: @color-bi-text;
        background: @color-bi-data-link-button-color10;
      }
    }
  }
}