/****添加计算宽度的--运算符直接需要space****/
/****** common color(常用颜色,可用于普遍场景) *****/
/**** custom color(自定义颜色,用于特定场景) ****/
.bi-region-header .dimension-region-header {
  background: #d8f2fd;
  border-bottom: 1px solid #a3d6e8;
}
.bi-region-header .target-region-header {
  background: #e1f4e7;
  border-bottom: 1px solid #9fd3ae;
}
.bi-region-header .region-header-title {
  font-size: 14px;
  color: #808080;
}
