/****添加计算宽度的--运算符直接需要space****/
/****** common color(常用颜色,可用于普遍场景) *****/
/**** custom color(自定义颜色,用于特定场景) ****/
/****** common color(常用颜色,可用于普遍场景) *****/
/**** custom color(自定义颜色,用于特定场景) ****/
.bi-filter-popup-pane-etl-empty-label {
  color: #d4dadd;
  font-size: 14px;
}
.bi-filter-show-view-icon {
  font-size: 18px;
}
.bi-filter-time-interval.time-error .bi-input {
  color: #e85050;
}
.bi-filter-time-interval.time-error .sign-editor-text {
  color: #e85050;
}
