@import "../../../bibase";

.bi-upload-image-preview {
  & .upload-image-button {
    font-size: @font-size-16;
  }
  & .support-files {
    color: @color-bi-text-gray;
  }
  & .remove-button {
    color: @color-bi-text-warning;
  }
  & .modify-button {
    color: @color-bi-text-highlight;
  }
}