@import "../image";
@import "../lib/icon";
@import "../lib/background";

.base-line-conn-background {
  .imagePath(@icon-tree-vertical-line-1, 0, 0, repeat-y);
}

.first-line-conn-background {
  .imagePath(@icon-tree-vertical-line-2);
}

.last-line-conn-background {
  .imagePath(@icon-tree-vertical-line-4);
}

.mid-line-conn-background {
  .imagePath(@icon-tree-vertical-line-3);
}

.loading-background {
  .imagePath(@icon-loading);
}

//表格、图表中的提示图标背景 -- start --
.axis-tip-background {
  .imagePath(@background-tip-axis);
  background-color: #ffffff;
}

.axis-accu-tip-background {
  .imagePath(@background-tip-axis-accu);
  background-color: #ffffff;
}

.axis-percent-tip-background {
  .imagePath(@background-tip-axis-percent);
  background-color: #ffffff;
}

.axis-compare-tip-background {
  .imagePath(@background-tip-axis-compare);
  background-color: #ffffff;
}

.axis-fall-tip-background {
  .imagePath(@background-tip-axis-fall);
  background-color: #ffffff;
}

.bubble-tip-background {
  .imagePath(@background-tip-bubble);
  background-color: #ffffff;
}

.bubble-force-tip-background {
  .imagePath(@background-tip-bubble-force);
  background-color: #ffffff;
}

.dashboard-tip-background {
  .imagePath(@background-tip-dashboard);
  background-color: #ffffff;
}

.donut-tip-background {
  .imagePath(@background-tip-donut);
  background-color: #ffffff;
}

.funnel-tip-background {
  .imagePath(@background-tip-funnel);
  background-color: #ffffff;
}

.map-tip-background {
  .imagePath(@background-tip-map);
  background-color: #ffffff;
}

.map-gis-tip-background {
  .imagePath(@background-tip-map-gis);
  background-color: #ffffff;
}

.map-svg-tip-background {
  .imagePath(@background-tip-map-svg);
  background-color: #ffffff;
}

.map-svg-c-tip-background {
  .imagePath(@background-tip-map-svg-c);
  background-color: #ffffff;
}

.map-svg-g-tip-background {
  .imagePath(@background-tip-map-svg-g);
  background-color: #ffffff;
}

.pie-tip-background {
  .imagePath(@background-tip-pie);
  background-color: #ffffff;
}

.radar-tip-background {
  .imagePath(@background-tip-radar);
  background-color: #ffffff;
}

.radar-accu-tip-background {
  .imagePath(@background-tip-radar-accu);
  background-color: #ffffff;
}

.area-tip-background {
  .imagePath(@background-tip-area);
  background-color: #ffffff;
}

.area-accu-tip-background {
  .imagePath(@background-tip-area-accu);
  background-color: #ffffff;
}

.area-compare-tip-background {
  .imagePath(@background-tip-area-compare);
  background-color: #ffffff;
}

.area-percent-tip-background {
  .imagePath(@background-tip-area-percent);
  background-color: #ffffff;
}

.area-range-tip-background {
  .imagePath(@background-tip-area-range);
  background-color: #ffffff;
}

.bar-tip-background {
  .imagePath(@background-tip-bar);
  background-color: #ffffff;
}

.bar-accu-tip-background {
  .imagePath(@background-tip-bar-accu);
  background-color: #ffffff;
}

.bar-compare-tip-background {
  .imagePath(@background-tip-bar-compare);
  background-color: #ffffff;
}

.combine-tip-background {
  .imagePath(@background-tip-combine);
  background-color: #ffffff;
}

.combine-m-tip-background {
  .imagePath(@background-tip-combine-m);
  background-color: #ffffff;
}

.line-tip-background {
  .imagePath(@background-tip-line);
  background-color: #ffffff;
}

.scatter-tip-background {
  .imagePath(@background-tip-scatter);
  background-color: #ffffff;
}

.table-complex-tip-background {
  .imagePath(@background-tip-table-complex);
  background-color: #ffffff;
}

.table-cross-tip-background {
  .imagePath(@background-tip-table-cross);
  background-color: #ffffff;
}

.table-group-tip-background {
  .imagePath(@background-tip-table-group);
  background-color: #ffffff;
}

.table-detail-tip-background {
  .imagePath(@background-tip-table-detail);
  background-color: #ffffff;
}

.axis-text-tip-background {
  .imagePath(@background-tip-axis-text);
  background-color: #ffffff;
}

.axis-accu-text-tip-background {
  .imagePath(@background-tip-axis-accu-text);
  background-color: #ffffff;
}

.axis-percent-text-tip-background {
  .imagePath(@background-tip-axis-percent-text);
  background-color: #ffffff;
}

.axis-compare-text-tip-background {
  .imagePath(@background-tip-axis-compare-text);
  background-color: #ffffff;
}

.axis-fall-text-tip-background {
  .imagePath(@background-tip-axis-fall-text);
  background-color: #ffffff;
}

.bubble-text-tip-background {
  .imagePath(@background-tip-bubble-text);
  background-color: #ffffff;
}

.bubble-force-text-tip-background {
  .imagePath(@background-tip-bubble-force-text);
  background-color: #ffffff;
}

.dashboard-text-tip-background {
  .imagePath(@background-tip-dashboard-text);
  background-color: #ffffff;
}

.donut-text-tip-background {
  .imagePath(@background-tip-donut-text);
  background-color: #ffffff;
}

.funnel-text-tip-background {
  .imagePath(@background-tip-funnel-text);
  background-color: #ffffff;
}

.map-text-tip-background {
  .imagePath(@background-tip-map-text);
  background-color: #ffffff;
}

.map-gis-text-tip-background {
  .imagePath(@background-tip-map-gis-text);
  background-color: #ffffff;
}

.map-svg-text-tip-background {
  .imagePath(@background-tip-map-svg-text);
  background-color: #ffffff;
}

.map-svg-c-text-tip-background {
  .imagePath(@background-tip-map-svg-c-text);
  background-color: #ffffff;
}

.map-svg-g-text-tip-background {
  .imagePath(@background-tip-map-svg-g-text);
  background-color: #ffffff;
}

.pie-text-tip-background {
  .imagePath(@background-tip-pie-text);
  background-color: #ffffff;
}

.radar-text-tip-background {
  .imagePath(@background-tip-radar-text);
  background-color: #ffffff;
}

.radar-accu-text-tip-background {
  .imagePath(@background-tip-radar-accu-text);
  background-color: #ffffff;
}

.area-text-tip-background {
  .imagePath(@background-tip-area-text);
  background-color: #ffffff;
}

.area-accu-text-tip-background {
  .imagePath(@background-tip-area-accu-text);
  background-color: #ffffff;
}

.area-compare-text-tip-background {
  .imagePath(@background-tip-area-compare-text);
  background-color: #ffffff;
}

.area-percent-text-tip-background {
  .imagePath(@background-tip-area-percent-text);
  background-color: #ffffff;
}

.area-range-text-tip-background {
  .imagePath(@background-tip-area-range-text);
  background-color: #ffffff;
}

.bar-text-tip-background {
  .imagePath(@background-tip-bar-text);
  background-color: #ffffff;
}

.bar-accu-text-tip-background {
  .imagePath(@background-tip-bar-accu-text);
  background-color: #ffffff;
}

.bar-compare-text-tip-background {
  .imagePath(@background-tip-bar-compare-text);
  background-color: #ffffff;
}

.combine-text-tip-background {
  .imagePath(@background-tip-combine-text);
  background-color: #ffffff;
}

.combine-m-text-tip-background {
  .imagePath(@background-tip-combine-m-text);
  background-color: #ffffff;
}

.line-text-tip-background {
  .imagePath(@background-tip-line-text);
  background-color: #ffffff;
}

.scatter-text-tip-background {
  .imagePath(@background-tip-scatter-text);
  background-color: #ffffff;
}

.table-complex-text-tip-background {
  .imagePath(@background-tip-table-complex-text);
  background-color: #ffffff;
}

.table-cross-text-tip-background {
  .imagePath(@background-tip-table-cross-text);
  background-color: #ffffff;
}

.table-group-text-tip-background {
  .imagePath(@background-tip-table-group-text);
  background-color: #ffffff;
}

.table-detail-text-tip-background {
  .imagePath(@background-tip-table-detail-text);
  background-color: #ffffff;
}

.data-miss-background {
  .imagePath(@background-tip-no-data);
  background-color: #ffffff;
}

//表格、图表中的提示图标背景 -- end --
