@import "../bibase";


//codeMirror

ul.CodeMirror-hints{
  z-index: @zIndex-tip;
}

.view-container {
  position : absolute;
  left : 0;
  top : 0;
  width : 0;
  height : 0;
  z-index : @zIndex-layer;
}

//transfer
.ui-effects-transfer {
  background:rgb(255,102,0);
  .opacity(0.2);
  border-radius: 5px;
  border:2px rgb(142,142,142);
  z-index:@zIndex-tip;
}
//resizable
.ui-effects-resize {
  position: absolute;
  background:rgb(255,102,0);
  .opacity(0.2);
  border-radius: 0px 0px 2px 2px;
  border:2px rgb(142,142,142);
  z-index: @zIndex-tip;
}
.ui-sortable-place-holder {
  border:1px dashed rgb(3,153,53) !important;
}
.ui-drag-over {
  width: 100%;
  height: 20px;
  margin-top: 5px;
  border-radius: 2px;
}

.dragged {
  position: absolute;
  top: 0;
  opacity: 0.5;
  z-index: 200000000;
}