/****添加计算宽度的--运算符直接需要space****/
/****** common color(常用颜色,可用于普遍场景) *****/
/**** custom color(自定义颜色,用于特定场景) ****/
.image-set-tab {
  border-top: 1px solid #d4dadd;
}
.image-set-tab-item:hover,
.image-set-tab-item:active,
.image-set-tab-item.active {
  color: #009de3;
}
.image-set-delete,
.image-set-delete.close-font .b-font:before {
  background-color: #e85050;
  color: #1a1a1a;
}
.image-set-header {
  border-bottom: 1px solid #d4dadd;
}
