/****添加计算宽度的--运算符直接需要space****/
/****** common color(常用颜色,可用于普遍场景) *****/
/**** custom color(自定义颜色,用于特定场景) ****/
.bi-excel-view-setting-item {
  cursor: pointer;
  border-bottom: 1px solid #eaeaea;
}
.bi-excel-view-setting-item:active,
.bi-excel-view-setting-item.active {
  color: #ffffff;
  background: #009de3;
}
.bi-excel-view-setting-item .excel-view-setting-item-cell {
  border-left: 1px solid #eaeaea;
}
