@import "../bibase";

.bi-theme-light {
  .bi-control-widget {
    .bi-multi-select-trigger {
      .bi-multi-select-searcher.bi-searcher {
        .bi-text {
          color: @font-color-normal;
        }
      }
    }
    .bi-multi-select-editor.bi-single.bi-simple-state-editor {
      .bi-text {
        color: @font-color-normal;
      }
    }
    .bi-numerical-interval {
      .numerical-interval-small-editor {
        .bi-text {
          color: @font-color-normal;
        }
      }
    }
    .bi-editor.numerical-interval-big-editor {
      .bi-text {
        color: @font-color-normal;
      }
    }
    .bi-year-trigger {
      .bi-text {
        color: @font-color-normal;
      }
    }
    .bi-month-trigger {
      .bi-text {
        color: @font-color-normal;
      }
    }
    .bi-quarter-trigger {
      .bi-text {
        color: @font-color-normal;
      }
    }
    .bi-date-trigger {
      .bi-text {
        color: @font-color-normal;
      }
    }
    .bi-select-text-trigger {
      .bi-text {
        color: @font-color-normal;
      }
    }
    .bi-custom-tree.bi-button-map {
      .first-element {
        .bi-single.bi-basic-button.cursor-pointer.bi-text-button.display-block.bi-label.bi-absolute-layout {
          .bi-text {
            color: @font-color-normal;
          }
        }
      }
    }
    .bi-single.bi-basic-button.cursor-pointer.bi-text-button.display-block.condition-and-or.bi-label {
      .bi-text {
        color: @font-color-normal;
      }
    }
    .bi-single.bi-center-layout.bi-grid-layout.bi-horizon-auto-layout {
      .bi-single.bi-label.bi-absolute-layout {
        .bi-single.bi-text {
          .bi-text {
            color: @font-color-normal;
          }
        }
      }
    }
  }
}