/****添加计算宽度的--运算符直接需要space****/
/****** common color(常用颜色,可用于普遍场景) *****/
/**** custom color(自定义颜色,用于特定场景) ****/
.bi-update-preview-pane .tab-button {
  font-size: 14px;
  background: #f4f4f4;
  border: 1px solid #d4dadd;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
.bi-update-preview-pane .tab-button.active {
  background: #ffffff;
  color: #009de3;
  border-bottom: 1px solid #ffffff;
}
.bi-update-preview-pane .preview-content {
  border: 1px solid #d4dadd;
}
.bi-update-preview-pane .preview-content .sql-statement {
  font-size: 14px;
}
.bi-update-preview-pane .preview-content .warning-comment {
  color: #e85050;
}
