/****添加计算宽度的--运算符直接需要space****/
/****** common color(常用颜色,可用于普遍场景) *****/
/**** custom color(自定义颜色,用于特定场景) ****/
/****** common color(常用颜色,可用于普遍场景) *****/
/**** custom color(自定义颜色,用于特定场景) ****/
.bi-analysis-etl-merge-sheet {
  background: #f4f4f4;
}
.bi-analysis-etl-merge-sheet .title .label {
  font-size: 16px;
  color: #7f7f7f;
}
.bi-analysis-etl-merge-sheet .title .editor {
  color: #1a1a1a;
  font-size: 14px;
  background: #ffffff;
}
.bi-analysis-etl-merge-sheet .background-border {
  background: #ffffff;
  border: 1px solid #eaeaea;
}
