/****添加计算宽度的--运算符直接需要space****/
/****** common color(常用颜色,可用于普遍场景) *****/
/**** custom color(自定义颜色,用于特定场景) ****/
.bi-page-table .page-table-pager {
  background-color: #eaeaea;
}
.bi-page-table .page-table-loading-text {
  background-color: #eaeaea;
  color: #808080;
}
.bi-page-table .page-table-current-column {
  cursor: default;
  opacity: 0.8;
  filter: alpha(opacity=80);
  color: #ffffff;
  background-color: #009de3;
  border-radius: 2px;
}
