<<<<<<< HEAD
@import "../../../../bibase";
=======
@import "../../../bibase";
>>>>>>> 67b55d486e769f445942f15883303ca839ffd092

.bi-update-excel-fail-pane {
  background-color: @background-color-alert;
  font-size: @font-size-14;
  & .fail-title {
    & .bi-text {
      color: @font-color-warning;
    }
  }
  & .fail-text {

  }
}