@import "../../../../bibase";

.bi-update-excel-fail-pane {
  background-color: @background-color-alert;
  font-size: @font-size-14;
  & .fail-title {
    & .bi-text {
      color: @font-color-warning;
    }
  }
  & .fail-text {

  }
}