/****添加计算宽度的--运算符直接需要space****/
/****** common color(常用颜色,可用于普遍场景) *****/
/**** custom color(自定义颜色,用于特定场景) ****/
.bi-image-set {
  border-left: 1px solid #d4dadd;
}
.bi-image-set .image-set-tab {
  border-top: 1px solid #d4dadd;
  background-color: #f4f4f4;
}
.bi-image-set .image-set-tab-item {
  color: #1a1a1a;
  border-right: 1px solid #d4dadd;
}
.bi-image-set .image-set-tab-item.active {
  background-color: #ffffff;
}
.bi-image-set .image-set-delete.close-font {
  background-color: #e85050;
}
.bi-image-set .image-set-delete.close-font .b-font:before {
  color: #ffffff;
}
.bi-image-set .image-group {
  white-space: normal;
}
.bi-image-set .header-label {
  color: #808080;
}
