@import "../../bibase";
.bi-target-condition-style-setting{
  border: 1px solid @color-target-style-condition-border;
  .border-radius(2px);
  & .add-condition-tool{
    background: @color-target-style-condition-background;
    border-bottom: 1px solid @color-target-style-condition-border;
    & .setting-title{
      color: @color-bi-text-gray;
      font-size: @font-size-14;
    }
  }
}