.base-line-conn-background {
  background: url('${servletURL}?op=resource&resource=/com/fr/bi/web/images/icon/tree-vertical-line-1.png') repeat-y 0 0;
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='${servletURL}?op=resource&resource=/com/fr/bi/web/images/icon/tree-vertical-line-1.png');
  _background: none;
}
.first-line-conn-background {
  background: url('${servletURL}?op=resource&resource=/com/fr/bi/web/images/icon/tree-vertical-line-2.png') no-repeat center center;
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='${servletURL}?op=resource&resource=/com/fr/bi/web/images/icon/tree-vertical-line-2.png');
  _background: none;
}
.last-line-conn-background {
  background: url('${servletURL}?op=resource&resource=/com/fr/bi/web/images/icon/tree-vertical-line-4.png') no-repeat center center;
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='${servletURL}?op=resource&resource=/com/fr/bi/web/images/icon/tree-vertical-line-4.png');
  _background: none;
}
.mid-line-conn-background {
  background: url('${servletURL}?op=resource&resource=/com/fr/bi/web/images/icon/tree-vertical-line-3.png') no-repeat center center;
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='${servletURL}?op=resource&resource=/com/fr/bi/web/images/icon/tree-vertical-line-3.png');
  _background: none;
}
.loading-background {
  background: url('${servletURL}?op=resource&resource=/com/fr/bi/web/images/icon/loading.gif') no-repeat center center;
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='${servletURL}?op=resource&resource=/com/fr/bi/web/images/icon/loading.gif');
  _background: none;
}
.axis-tip-background {
  background: url('${servletURL}?op=resource&resource=/com/fr/bi/web/images/background/charts/axis.png') no-repeat center center;
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='${servletURL}?op=resource&resource=/com/fr/bi/web/images/background/charts/axis.png');
  _background: none;
  background-color: #ffffff;
}
.axis-accu-tip-background {
  background: url('${servletURL}?op=resource&resource=/com/fr/bi/web/images/background/charts/axis_accu.png') no-repeat center center;
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='${servletURL}?op=resource&resource=/com/fr/bi/web/images/background/charts/axis_accu.png');
  _background: none;
  background-color: #ffffff;
}
.axis-percent-tip-background {
  background: url('${servletURL}?op=resource&resource=/com/fr/bi/web/images/background/charts/axis_percent.png') no-repeat center center;
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='${servletURL}?op=resource&resource=/com/fr/bi/web/images/background/charts/axis_percent.png');
  _background: none;
  background-color: #ffffff;
}
.axis-compare-tip-background {
  background: url('${servletURL}?op=resource&resource=/com/fr/bi/web/images/background/charts/axis_compare.png') no-repeat center center;
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='${servletURL}?op=resource&resource=/com/fr/bi/web/images/background/charts/axis_compare.png');
  _background: none;
  background-color: #ffffff;
}
.axis-fall-tip-background {
  background: url('${servletURL}?op=resource&resource=/com/fr/bi/web/images/background/charts/axis_fall.png') no-repeat center center;
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='${servletURL}?op=resource&resource=/com/fr/bi/web/images/background/charts/axis_fall.png');
  _background: none;
  background-color: #ffffff;
}
.bubble-tip-background {
  background: url('${servletURL}?op=resource&resource=/com/fr/bi/web/images/background/charts/bubble.png') no-repeat center center;
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='${servletURL}?op=resource&resource=/com/fr/bi/web/images/background/charts/bubble.png');
  _background: none;
  background-color: #ffffff;
}
.bubble-force-tip-background {
  background: url('${servletURL}?op=resource&resource=/com/fr/bi/web/images/background/charts/bubble_force.png') no-repeat center center;
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='${servletURL}?op=resource&resource=/com/fr/bi/web/images/background/charts/bubble_force.png');
  _background: none;
  background-color: #ffffff;
}
.dashboard-tip-background {
  background: url('${servletURL}?op=resource&resource=/com/fr/bi/web/images/background/charts/dashboard.png') no-repeat center center;
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='${servletURL}?op=resource&resource=/com/fr/bi/web/images/background/charts/dashboard.png');
  _background: none;
  background-color: #ffffff;
}
.donut-tip-background {
  background: url('${servletURL}?op=resource&resource=/com/fr/bi/web/images/background/charts/donut.png') no-repeat center center;
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='${servletURL}?op=resource&resource=/com/fr/bi/web/images/background/charts/donut.png');
  _background: none;
  background-color: #ffffff;
}
.funnel-tip-background {
  background: url('${servletURL}?op=resource&resource=/com/fr/bi/web/images/background/charts/funnel.png') no-repeat center center;
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='${servletURL}?op=resource&resource=/com/fr/bi/web/images/background/charts/funnel.png');
  _background: none;
  background-color: #ffffff;
}
.map-tip-background {
  background: url('${servletURL}?op=resource&resource=/com/fr/bi/web/images/background/charts/map.png') no-repeat center center;
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='${servletURL}?op=resource&resource=/com/fr/bi/web/images/background/charts/map.png');
  _background: none;
  background-color: #ffffff;
}
.map-gis-tip-background {
  background: url('${servletURL}?op=resource&resource=/com/fr/bi/web/images/background/charts/map_gis.png') no-repeat center center;
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='${servletURL}?op=resource&resource=/com/fr/bi/web/images/background/charts/map_gis.png');
  _background: none;
  background-color: #ffffff;
}
.map-svg-tip-background {
  background: url('${servletURL}?op=resource&resource=/com/fr/bi/web/images/background/charts/map_svg.png') no-repeat center center;
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='${servletURL}?op=resource&resource=/com/fr/bi/web/images/background/charts/map_svg.png');
  _background: none;
  background-color: #ffffff;
}
.map-svg-c-tip-background {
  background: url('${servletURL}?op=resource&resource=/com/fr/bi/web/images/background/charts/map_svg_c.png') no-repeat center center;
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='${servletURL}?op=resource&resource=/com/fr/bi/web/images/background/charts/map_svg_c.png');
  _background: none;
  background-color: #ffffff;
}
.map-svg-g-tip-background {
  background: url('${servletURL}?op=resource&resource=/com/fr/bi/web/images/background/charts/map_svg_g.png') no-repeat center center;
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='${servletURL}?op=resource&resource=/com/fr/bi/web/images/background/charts/map_svg_g.png');
  _background: none;
  background-color: #ffffff;
}
.pie-tip-background {
  background: url('${servletURL}?op=resource&resource=/com/fr/bi/web/images/background/charts/pie.png') no-repeat center center;
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='${servletURL}?op=resource&resource=/com/fr/bi/web/images/background/charts/pie.png');
  _background: none;
  background-color: #ffffff;
}
.radar-tip-background {
  background: url('${servletURL}?op=resource&resource=/com/fr/bi/web/images/background/charts/radar.png') no-repeat center center;
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='${servletURL}?op=resource&resource=/com/fr/bi/web/images/background/charts/radar.png');
  _background: none;
  background-color: #ffffff;
}
.radar-accu-tip-background {
  background: url('${servletURL}?op=resource&resource=/com/fr/bi/web/images/background/charts/radar_accu.png') no-repeat center center;
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='${servletURL}?op=resource&resource=/com/fr/bi/web/images/background/charts/radar_accu.png');
  _background: none;
  background-color: #ffffff;
}
.area-tip-background {
  background: url('${servletURL}?op=resource&resource=/com/fr/bi/web/images/background/charts/area.png') no-repeat center center;
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='${servletURL}?op=resource&resource=/com/fr/bi/web/images/background/charts/area.png');
  _background: none;
  background-color: #ffffff;
}
.area-accu-tip-background {
  background: url('${servletURL}?op=resource&resource=/com/fr/bi/web/images/background/charts/area_accu.png') no-repeat center center;
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='${servletURL}?op=resource&resource=/com/fr/bi/web/images/background/charts/area_accu.png');
  _background: none;
  background-color: #ffffff;
}
.area-compare-tip-background {
  background: url('${servletURL}?op=resource&resource=/com/fr/bi/web/images/background/charts/area_compare.png') no-repeat center center;
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='${servletURL}?op=resource&resource=/com/fr/bi/web/images/background/charts/area_compare.png');
  _background: none;
  background-color: #ffffff;
}
.area-percent-tip-background {
  background: url('${servletURL}?op=resource&resource=/com/fr/bi/web/images/background/charts/area_percent.png') no-repeat center center;
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='${servletURL}?op=resource&resource=/com/fr/bi/web/images/background/charts/area_percent.png');
  _background: none;
  background-color: #ffffff;
}
.area-range-tip-background {
  background: url('${servletURL}?op=resource&resource=/com/fr/bi/web/images/background/charts/area_range.png') no-repeat center center;
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='${servletURL}?op=resource&resource=/com/fr/bi/web/images/background/charts/area_range.png');
  _background: none;
  background-color: #ffffff;
}
.bar-tip-background {
  background: url('${servletURL}?op=resource&resource=/com/fr/bi/web/images/background/charts/bar.png') no-repeat center center;
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='${servletURL}?op=resource&resource=/com/fr/bi/web/images/background/charts/bar.png');
  _background: none;
  background-color: #ffffff;
}
.bar-accu-tip-background {
  background: url('${servletURL}?op=resource&resource=/com/fr/bi/web/images/background/charts/bar_accu.png') no-repeat center center;
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='${servletURL}?op=resource&resource=/com/fr/bi/web/images/background/charts/bar_accu.png');
  _background: none;
  background-color: #ffffff;
}
.bar-compare-tip-background {
  background: url('${servletURL}?op=resource&resource=/com/fr/bi/web/images/background/charts/bar_compare.png') no-repeat center center;
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='${servletURL}?op=resource&resource=/com/fr/bi/web/images/background/charts/bar_compare.png');
  _background: none;
  background-color: #ffffff;
}
.combine-tip-background {
  background: url('${servletURL}?op=resource&resource=/com/fr/bi/web/images/background/charts/combine.png') no-repeat center center;
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='${servletURL}?op=resource&resource=/com/fr/bi/web/images/background/charts/combine.png');
  _background: none;
  background-color: #ffffff;
}
.combine-m-tip-background {
  background: url('${servletURL}?op=resource&resource=/com/fr/bi/web/images/background/charts/combine_m.png') no-repeat center center;
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='${servletURL}?op=resource&resource=/com/fr/bi/web/images/background/charts/combine_m.png');
  _background: none;
  background-color: #ffffff;
}
.line-tip-background {
  background: url('${servletURL}?op=resource&resource=/com/fr/bi/web/images/background/charts/line.png') no-repeat center center;
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='${servletURL}?op=resource&resource=/com/fr/bi/web/images/background/charts/line.png');
  _background: none;
  background-color: #ffffff;
}
.scatter-tip-background {
  background: url('${servletURL}?op=resource&resource=/com/fr/bi/web/images/background/charts/scatter.png') no-repeat center center;
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='${servletURL}?op=resource&resource=/com/fr/bi/web/images/background/charts/scatter.png');
  _background: none;
  background-color: #ffffff;
}
.table-complex-tip-background {
  background: url('${servletURL}?op=resource&resource=/com/fr/bi/web/images/background/charts/table_complex.png') no-repeat center center;
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='${servletURL}?op=resource&resource=/com/fr/bi/web/images/background/charts/table_complex.png');
  _background: none;
  background-color: #ffffff;
}
.table-cross-tip-background {
  background: url('${servletURL}?op=resource&resource=/com/fr/bi/web/images/background/charts/table_cross.png') no-repeat center center;
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='${servletURL}?op=resource&resource=/com/fr/bi/web/images/background/charts/table_cross.png');
  _background: none;
  background-color: #ffffff;
}
.table-group-tip-background {
  background: url('${servletURL}?op=resource&resource=/com/fr/bi/web/images/background/charts/table_group.png') no-repeat center center;
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='${servletURL}?op=resource&resource=/com/fr/bi/web/images/background/charts/table_group.png');
  _background: none;
  background-color: #ffffff;
}
.table-detail-tip-background {
  background: url('${servletURL}?op=resource&resource=/com/fr/bi/web/images/background/charts/table_detail.png') no-repeat center center;
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='${servletURL}?op=resource&resource=/com/fr/bi/web/images/background/charts/table_detail.png');
  _background: none;
  background-color: #ffffff;
}
.axis-text-tip-background {
  background: url('${servletURL}?op=resource&resource=/com/fr/bi/web/images/background/charts/text/axis_text.png') no-repeat center center;
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='${servletURL}?op=resource&resource=/com/fr/bi/web/images/background/charts/text/axis_text.png');
  _background: none;
  background-color: #ffffff;
}
.axis-accu-text-tip-background {
  background: url('${servletURL}?op=resource&resource=/com/fr/bi/web/images/background/charts/text/axis_accu_text.png') no-repeat center center;
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='${servletURL}?op=resource&resource=/com/fr/bi/web/images/background/charts/text/axis_accu_text.png');
  _background: none;
  background-color: #ffffff;
}
.axis-percent-text-tip-background {
  background: url('${servletURL}?op=resource&resource=/com/fr/bi/web/images/background/charts/text/axis_percent_text.png') no-repeat center center;
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='${servletURL}?op=resource&resource=/com/fr/bi/web/images/background/charts/text/axis_percent_text.png');
  _background: none;
  background-color: #ffffff;
}
.axis-compare-text-tip-background {
  background: url('${servletURL}?op=resource&resource=/com/fr/bi/web/images/background/charts/text/axis_compare_text.png') no-repeat center center;
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='${servletURL}?op=resource&resource=/com/fr/bi/web/images/background/charts/text/axis_compare_text.png');
  _background: none;
  background-color: #ffffff;
}
.axis-fall-text-tip-background {
  background: url('${servletURL}?op=resource&resource=/com/fr/bi/web/images/background/charts/text/axis_fall_text.png') no-repeat center center;
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='${servletURL}?op=resource&resource=/com/fr/bi/web/images/background/charts/text/axis_fall_text.png');
  _background: none;
  background-color: #ffffff;
}
.bubble-text-tip-background {
  background: url('${servletURL}?op=resource&resource=/com/fr/bi/web/images/background/charts/text/bubble_text.png') no-repeat center center;
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='${servletURL}?op=resource&resource=/com/fr/bi/web/images/background/charts/text/bubble_text.png');
  _background: none;
  background-color: #ffffff;
}
.bubble-force-text-tip-background {
  background: url('${servletURL}?op=resource&resource=/com/fr/bi/web/images/background/charts/text/bubble_force_text.png') no-repeat center center;
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='${servletURL}?op=resource&resource=/com/fr/bi/web/images/background/charts/text/bubble_force_text.png');
  _background: none;
  background-color: #ffffff;
}
.dashboard-text-tip-background {
  background: url('${servletURL}?op=resource&resource=/com/fr/bi/web/images/background/charts/text/dashboard_text.png') no-repeat center center;
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='${servletURL}?op=resource&resource=/com/fr/bi/web/images/background/charts/text/dashboard_text.png');
  _background: none;
  background-color: #ffffff;
}
.donut-text-tip-background {
  background: url('${servletURL}?op=resource&resource=/com/fr/bi/web/images/background/charts/text/donut_text.png') no-repeat center center;
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='${servletURL}?op=resource&resource=/com/fr/bi/web/images/background/charts/text/donut_text.png');
  _background: none;
  background-color: #ffffff;
}
.funnel-text-tip-background {
  background: url('${servletURL}?op=resource&resource=/com/fr/bi/web/images/background/charts/text/funnel_text.png') no-repeat center center;
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='${servletURL}?op=resource&resource=/com/fr/bi/web/images/background/charts/text/funnel_text.png');
  _background: none;
  background-color: #ffffff;
}
.map-text-tip-background {
  background: url('${servletURL}?op=resource&resource=/com/fr/bi/web/images/background/charts/text/map_text.png') no-repeat center center;
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='${servletURL}?op=resource&resource=/com/fr/bi/web/images/background/charts/text/map_text.png');
  _background: none;
  background-color: #ffffff;
}
.map-gis-text-tip-background {
  background: url('${servletURL}?op=resource&resource=/com/fr/bi/web/images/background/charts/text/map_gis_text.png') no-repeat center center;
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='${servletURL}?op=resource&resource=/com/fr/bi/web/images/background/charts/text/map_gis_text.png');
  _background: none;
  background-color: #ffffff;
}
.map-svg-text-tip-background {
  background: url('${servletURL}?op=resource&resource=/com/fr/bi/web/images/background/charts/text/map_svg_text.png') no-repeat center center;
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='${servletURL}?op=resource&resource=/com/fr/bi/web/images/background/charts/text/map_svg_text.png');
  _background: none;
  background-color: #ffffff;
}
.map-svg-c-text-tip-background {
  background: url('${servletURL}?op=resource&resource=/com/fr/bi/web/images/background/charts/text/map_svg_c_text.png') no-repeat center center;
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='${servletURL}?op=resource&resource=/com/fr/bi/web/images/background/charts/text/map_svg_c_text.png');
  _background: none;
  background-color: #ffffff;
}
.map-svg-g-text-tip-background {
  background: url('${servletURL}?op=resource&resource=/com/fr/bi/web/images/background/charts/text/map_svg_g_text.png') no-repeat center center;
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='${servletURL}?op=resource&resource=/com/fr/bi/web/images/background/charts/text/map_svg_g_text.png');
  _background: none;
  background-color: #ffffff;
}
.pie-text-tip-background {
  background: url('${servletURL}?op=resource&resource=/com/fr/bi/web/images/background/charts/text/pie_text.png') no-repeat center center;
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='${servletURL}?op=resource&resource=/com/fr/bi/web/images/background/charts/text/pie_text.png');
  _background: none;
  background-color: #ffffff;
}
.radar-text-tip-background {
  background: url('${servletURL}?op=resource&resource=/com/fr/bi/web/images/background/charts/text/radar_text.png') no-repeat center center;
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='${servletURL}?op=resource&resource=/com/fr/bi/web/images/background/charts/text/radar_text.png');
  _background: none;
  background-color: #ffffff;
}
.radar-accu-text-tip-background {
  background: url('${servletURL}?op=resource&resource=/com/fr/bi/web/images/background/charts/text/radar_accu_text.png') no-repeat center center;
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='${servletURL}?op=resource&resource=/com/fr/bi/web/images/background/charts/text/radar_accu_text.png');
  _background: none;
  background-color: #ffffff;
}
.area-text-tip-background {
  background: url('${servletURL}?op=resource&resource=/com/fr/bi/web/images/background/charts/text/area_text.png') no-repeat center center;
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='${servletURL}?op=resource&resource=/com/fr/bi/web/images/background/charts/text/area_text.png');
  _background: none;
  background-color: #ffffff;
}
.area-accu-text-tip-background {
  background: url('${servletURL}?op=resource&resource=/com/fr/bi/web/images/background/charts/text/area_accu_text.png') no-repeat center center;
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='${servletURL}?op=resource&resource=/com/fr/bi/web/images/background/charts/text/area_accu_text.png');
  _background: none;
  background-color: #ffffff;
}
.area-compare-text-tip-background {
  background: url('${servletURL}?op=resource&resource=/com/fr/bi/web/images/background/charts/text/area_compare_text.png') no-repeat center center;
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='${servletURL}?op=resource&resource=/com/fr/bi/web/images/background/charts/text/area_compare_text.png');
  _background: none;
  background-color: #ffffff;
}
.area-percent-text-tip-background {
  background: url('${servletURL}?op=resource&resource=/com/fr/bi/web/images/background/charts/text/area_percent_text.png') no-repeat center center;
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='${servletURL}?op=resource&resource=/com/fr/bi/web/images/background/charts/text/area_percent_text.png');
  _background: none;
  background-color: #ffffff;
}
.area-range-text-tip-background {
  background: url('${servletURL}?op=resource&resource=/com/fr/bi/web/images/background/charts/text/area_range_text.png') no-repeat center center;
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='${servletURL}?op=resource&resource=/com/fr/bi/web/images/background/charts/text/area_range_text.png');
  _background: none;
  background-color: #ffffff;
}
.bar-text-tip-background {
  background: url('${servletURL}?op=resource&resource=/com/fr/bi/web/images/background/charts/text/bar_text.png') no-repeat center center;
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='${servletURL}?op=resource&resource=/com/fr/bi/web/images/background/charts/text/bar_text.png');
  _background: none;
  background-color: #ffffff;
}
.bar-accu-text-tip-background {
  background: url('${servletURL}?op=resource&resource=/com/fr/bi/web/images/background/charts/text/bar_accu_text.png') no-repeat center center;
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='${servletURL}?op=resource&resource=/com/fr/bi/web/images/background/charts/text/bar_accu_text.png');
  _background: none;
  background-color: #ffffff;
}
.bar-compare-text-tip-background {
  background: url('${servletURL}?op=resource&resource=/com/fr/bi/web/images/background/charts/text/bar_compare_text.png') no-repeat center center;
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='${servletURL}?op=resource&resource=/com/fr/bi/web/images/background/charts/text/bar_compare_text.png');
  _background: none;
  background-color: #ffffff;
}
.combine-text-tip-background {
  background: url('${servletURL}?op=resource&resource=/com/fr/bi/web/images/background/charts/text/combine_text.png') no-repeat center center;
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='${servletURL}?op=resource&resource=/com/fr/bi/web/images/background/charts/text/combine_text.png');
  _background: none;
  background-color: #ffffff;
}
.combine-m-text-tip-background {
  background: url('${servletURL}?op=resource&resource=/com/fr/bi/web/images/background/charts/text/combine_m_text.png') no-repeat center center;
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='${servletURL}?op=resource&resource=/com/fr/bi/web/images/background/charts/text/combine_m_text.png');
  _background: none;
  background-color: #ffffff;
}
.line-text-tip-background {
  background: url('${servletURL}?op=resource&resource=/com/fr/bi/web/images/background/charts/text/line_text.png') no-repeat center center;
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='${servletURL}?op=resource&resource=/com/fr/bi/web/images/background/charts/text/line_text.png');
  _background: none;
  background-color: #ffffff;
}
.scatter-text-tip-background {
  background: url('${servletURL}?op=resource&resource=/com/fr/bi/web/images/background/charts/text/text/scatter_text.png') no-repeat center center;
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='${servletURL}?op=resource&resource=/com/fr/bi/web/images/background/charts/text/text/scatter_text.png');
  _background: none;
  background-color: #ffffff;
}
.table-complex-text-tip-background {
  background: url('${servletURL}?op=resource&resource=/com/fr/bi/web/images/background/charts/text/table_complex_text.png') no-repeat center center;
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='${servletURL}?op=resource&resource=/com/fr/bi/web/images/background/charts/text/table_complex_text.png');
  _background: none;
  background-color: #ffffff;
}
.table-cross-text-tip-background {
  background: url('${servletURL}?op=resource&resource=/com/fr/bi/web/images/background/charts/text/table_cross_text.png') no-repeat center center;
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='${servletURL}?op=resource&resource=/com/fr/bi/web/images/background/charts/text/table_cross_text.png');
  _background: none;
  background-color: #ffffff;
}
.table-group-text-tip-background {
  background: url('${servletURL}?op=resource&resource=/com/fr/bi/web/images/background/charts/text/table_group_text.png') no-repeat center center;
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='${servletURL}?op=resource&resource=/com/fr/bi/web/images/background/charts/text/table_group_text.png');
  _background: none;
  background-color: #ffffff;
}
.table-detail-text-tip-background {
  background: url('${servletURL}?op=resource&resource=/com/fr/bi/web/images/background/charts/text/table_detail_text.png') no-repeat center center;
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='${servletURL}?op=resource&resource=/com/fr/bi/web/images/background/charts/text/table_detail_text.png');
  _background: none;
  background-color: #ffffff;
}
.data-miss-background {
  background: url('${servletURL}?op=resource&resource=/com/fr/bi/web/images/background/data_miss.png') no-repeat center center;
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='${servletURL}?op=resource&resource=/com/fr/bi/web/images/background/data_miss.png');
  _background: none;
  background-color: #ffffff;
}
