@import "../../bibase";
.bi-chart-drill-cell{
  max-width: 180px;
  & .up-drill-button{
    background: @color-bi-background-highlight;
    color: @color-bi-text;
    .border-corner-left-radius(2px, 2px);
    &.disabled{
      color: @color-bi-text-disabled;
      background: @color-bi-background-disabled;
    }
  }
  & .down-drill-button{
    background: @color-bi-background-highlight;
    .border-corner-right-radius(2px, 2px);
    color: @color-bi-text;
    &.disabled{
      color: @color-bi-text-disabled;
      background: @color-bi-background-disabled;
    }
  }
  & .dimension-name{
    color: @color-bi-text-gray;
    border-top: 1px solid @color-bi-border-normal;
    border-bottom: 1px solid @color-bi-border-normal;
  }
}