@import "../../bibase";

.bi-chart-drill {
  & .drill-wrapper {
    .border-corner-radius(0, 0, 2px, 2px);
    background: @color-bi-background-default;
    border-bottom: 1px solid @color-bi-border-normal;
    border-left: 1px solid @color-bi-border-normal;
    border-right: 1px solid @color-bi-border-normal;
    .box-shadow(0 1px 1px 1px, @color-bi-border-normal);
    z-index: 100001;  //盖住右侧的工具栏
  }
}