@import "../../../../../bibase";

.bi-join-preview-table {
  & .bi-preview-table-cell{
    max-width: 1000px !important;
  }
  & .result-table {
    background: @color-table-result-background;
  }
  & .table-color0 {
    background: @color-table-background1;
  }
  & .table-color1 {
    background: @color-table-background2;
  }
  & .table-color2 {
    background: @color-table-background3;
  }
  & .table-color3 {
    background: @color-table-background4;
  }
  & .table-color4 {
    background: @color-table-background5;
  }
}