/****��Ӽ����ȵ�--�����ֱ����Ҫspace****/
/****** common color(常用颜色,可用于普遍场景) *****/
/**** custom color(自定义颜色,用于特定场景) ****/
.bi-loading-pane {
  background: #ffffff;
  opacity: 0.8;
  filter: alpha(opacity=80);
}
.bi-loading-pane .loading-bar-label {
  font-size: 20px;
  color: #808080;
}
