<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-4.0.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd">

    <context:property-placeholder location="classpath:rpc.properties"/>

    <context:component-scan base-package="com.fr.swift.rpc.service"/>
    <context:component-scan base-package="com.fr.swift.service.listener"/>
    <context:component-scan base-package="com.fr.swift.service"/>
    <context:component-scan base-package="com.fr.swift.config"/>

    <bean id="localSegmentProvider" class="com.fr.swift.manager.LocalSegmentProvider"/>
    <bean class="com.fr.swift.manager.LocalDataOperatorProvider"/>

    <bean id="swiftProperty" class="com.fr.swift.property.SwiftProperty"/>
    <bean id="serviceRegistry" class="com.fr.swift.rpc.registry.SimpleServiceRegistry"/>
    <bean id="serviceDiscovery" class="com.fr.swift.rpc.registry.SimpleServiceDiscovery"/>
    <bean id="rpcServer" class="com.fr.swift.rpc.server.RpcServer"/>


    <context:component-scan base-package="com.fr.swift.http"/>

    <mvc:annotation-driven>
        <mvc:message-converters register-defaults="true">
            <bean class="com.fr.startup.web.annotation.MappingJackson2HttpMessageConverter">
            </bean>
        </mvc:message-converters>
    </mvc:annotation-driven>

    <context:annotation-config/>

    <mvc:interceptors>
        <mvc:interceptor>
            <mvc:mapping path="/**"/>
            <bean class="com.fr.swift.http.servlet.interceptor.EndecryptionInterceptor"/>
        </mvc:interceptor>
    </mvc:interceptors>

</beans>