@import "../../../../../bibase";

& .bi-etl-add-group-field-float-box-field-pane {
  background-color: @color-bi-background-default;
  z-index: 2;
}

& .bi-etl-add-group-field-float-box-field-button {
  font-size: 16px;
}

& .bi-etl-add-group-field-float-box-label {
  color: @color-bi-text-gray;
}
