@import "../../bibase";
.bi-all-reports{
  & .hangout-count{
    font-size: @font-size-14;
    color: @color-bi-text-black;
  }
  & .push-bar{
    background: @color-bi-background-default;
    border: 1px solid @color-bi-border-normal;
    .border-corner-radius(2px, 2px, 0, 0);
    & .filter-report-label{
      color: @color-bi-text-black;
      font-size: @font-size-14;
    }
    & .reports-count{
      color: @color-bi-text-highlight;
      font-size: @font-size-14;
    }
    & .push-button{
      .border-radius(16px);
      font-size: @font-size-16;
      &:hover{
        background: @color-bi-background-light;
      }
    }
  }
  & .all-reports{
    background: @color-bi-background-default;
    border: 1px solid @color-bi-border-normal;
    .border-radius(2px);
  }
  & .all-reports-view{
    & .view-button{
      background: @color-bi-background-dark;
      &.active{
        background: @color-bi-background-default;
      }
    }
  }
}