@import "../../bibase";
.bi-control-filter-item{
  border-bottom: 1px solid @color-bi-border-normal;
  border-right: 1px solid @color-bi-border-normal;
  & .control-widget-font{
    font-size: 20px;
  }
}