/****添加计算宽度的--运算符直接需要space****/
/****** common color(常用颜色,可用于普遍场景) *****/
/**** custom color(自定义颜色,用于特定场景) ****/
.bi-dimension-region {
  border: 1px solid #a3d6e8;
}
.bi-dimension-region .region-north {
  background: #d8f2fd;
  border-bottom: 1px solid #a3d6e8;
}
.bi-dimension-region .region-north .region-north-title {
  font-size: 14px;
}
.bi-dimension-region .dimension-container {
  background: #d8f2fd;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
