/****添加计算宽度的--运算符直接需要space****/
/****** common color(常用颜色,可用于普遍场景) *****/
/**** custom color(自定义颜色,用于特定场景) ****/
.bi-target-region {
  border: 1px solid #9fd3ae;
}
.bi-target-region .region-north {
  background: #e1f4e7;
  border-bottom: 1px solid #9fd3ae;
}
.bi-target-region .region-north .region-north-title {
  font-size: 14px;
  color: #808080;
}
.bi-target-region .drag-tool {
  border-right: 1px solid #9fd3ae;
  cursor: move;
}
.bi-target-region .targets-container {
  min-height: 37px;
}
.bi-target-region .targets-container .target-container {
  background: #e1f4e7;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
.bi-target-region .targets-container .virtual-drop-area {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  border: 1px dashed #9fd3ae;
}
.bi-target-region .targets-container .region-empty-tip {
  color: #d4dadd;
  font-size: 14px;
}
.bi-target-region .forbidden-mask {
  background: #1a1a1a;
  opacity: 0.05;
  filter: alpha(opacity=5);
  z-index: 1;
}
.bi-target-region .bi-empty-region {
  border-color: #9fd3ae;
}
