@import "../../../bibase";
.bi-report-card-view-item{
  &:hover, &.active{
    background: @color-bi-background-gray;
  }
  & .tool-rename-icon{
    color: @color-bi-text-highlight;
    font-size: @font-size-16;
    border: 1px solid @color-bi-border-normal;
    .border-radius(2px);
  }
  & .tool-delete-icon{
    color: @color-bi-text-warning;
    font-size: @font-size-16;
    border: 1px solid @color-bi-border-normal;
    .border-radius(2px);
  }
}