/****添加计算宽度的--运算符直接需要space****/
/****** common color(常用颜色,可用于普遍场景) *****/
/**** custom color(自定义颜色,用于特定场景) ****/
/****** common color(常用颜色,可用于普遍场景) *****/
/**** custom color(自定义颜色,用于特定场景) ****/
.bi-single {
  transition: background 0.2s ease;
  -webkit-transition: background 0.2s ease;
  -moz-transition: background 0.2s ease;
  -o-transition: background 0.2s ease;
}
.bi-helper {
  transition: background 0.1s ease;
  -webkit-transition: background 0.1s ease;
  -moz-transition: background 0.1s ease;
  -o-transition: background 0.1s ease;
}
.base-disabled {
  transition: background 0.1s ease;
  -webkit-transition: background 0.1s ease;
  -moz-transition: background 0.1s ease;
  -o-transition: background 0.1s ease;
}
.list-group-item-text {
  transition: background 0.1s ease;
  -webkit-transition: background 0.1s ease;
  -moz-transition: background 0.1s ease;
  -o-transition: background 0.1s ease;
}
.list-item-text {
  transition: background 0.1s ease;
  -webkit-transition: background 0.1s ease;
  -moz-transition: background 0.1s ease;
  -o-transition: background 0.1s ease;
}
.bi-shake-icon {
  transition: transform 0.5s ease;
  -webkit-transition: -webkit-transform 0.5s ease;
  -moz-transition: -moz-transform 0.5s ease;
  -o-transition: -o-transform 0.5s ease;
}
.bi-shake-icon:hover,
.bi-shake-icon.hover {
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -o-transform: scale(1.2);
}
.bi-shake-icon:hover,
.bi-shake-icon.hover {
  -webkit-animation: shake3 1s ease;
  -moz-animation: shake3 1s ease;
  -o-animation: shake3 1s ease;
  animation: shake3 1s ease;
}
@-webkit-keyframes shake3 {
  0% {
    -webkit-transform: rotate(0deg) scale(1);
  }
  10% {
    -webkit-transform: rotate(-10deg) scale(1.02);
  }
  20% {
    -webkit-transform: rotate(0deg) scale(1.04);
  }
  30% {
    -webkit-transform: rotate(-10deg) scale(1.06);
  }
  40% {
    -webkit-transform: rotate(0deg) scale(1.08);
  }
  50% {
    -webkit-transform: rotate(-10deg) scale(1.1);
  }
  60% {
    -webkit-transform: rotate(0deg) scale(1.12);
  }
  70% {
    -webkit-transform: rotate(-10deg) scale(1.14);
  }
  80% {
    -webkit-transform: rotate(0deg) scale(1.16);
  }
  90% {
    -webkit-transform: rotate(-10deg) scale(1.18);
  }
  100% {
    -webkit-transform: rotate(0deg) scale(1.2);
  }
}
@-moz-keyframes shake3 {
  0% {
    -moz-transform: rotate(0deg) scale(1);
  }
  10% {
    -moz-transform: rotate(-10deg) scale(1.02);
  }
  20% {
    -moz-transform: rotate(0deg) scale(1.04);
  }
  30% {
    -moz-transform: rotate(-10deg) scale(1.06);
  }
  40% {
    -moz-transform: rotate(0deg) scale(1.08);
  }
  50% {
    -moz-transform: rotate(-10deg) scale(1.1);
  }
  60% {
    -moz-transform: rotate(0deg) scale(1.12);
  }
  70% {
    -moz-transform: rotate(-10deg) scale(1.14);
  }
  80% {
    -moz-transform: rotate(0deg) scale(1.16);
  }
  90% {
    -moz-transform: rotate(-10deg) scale(1.18);
  }
  100% {
    -moz-transform: rotate(0deg) scale(1.2);
  }
}
@-o-keyframes shake3 {
  0% {
    -o-transform: rotate(0deg) scale(1);
  }
  10% {
    -o-transform: rotate(-10deg) scale(1.02);
  }
  20% {
    -o-transform: rotate(0deg) scale(1.04);
  }
  30% {
    -o-transform: rotate(-10deg) scale(1.06);
  }
  40% {
    -o-transform: rotate(0deg) scale(1.08);
  }
  50% {
    -o-transform: rotate(-10deg) scale(1.1);
  }
  60% {
    -o-transform: rotate(0deg) scale(1.12);
  }
  70% {
    -o-transform: rotate(-10deg) scale(1.14);
  }
  80% {
    -o-transform: rotate(0deg) scale(1.16);
  }
  90% {
    -o-transform: rotate(-10deg) scale(1.18);
  }
  100% {
    -o-transform: rotate(0deg) scale(1.2);
  }
}
@keyframes shake3 {
  0% {
    transform: rotate(0deg) scale(1);
  }
  10% {
    transform: rotate(-10deg) scale(1.02);
  }
  20% {
    transform: rotate(0deg) scale(1.04);
  }
  30% {
    transform: rotate(-10deg) scale(1.06);
  }
  40% {
    transform: rotate(0deg) scale(1.08);
  }
  50% {
    transform: rotate(-10deg) scale(1.1);
  }
  60% {
    transform: rotate(0deg) scale(1.12);
  }
  70% {
    transform: rotate(-10deg) scale(1.14);
  }
  80% {
    transform: rotate(0deg) scale(1.16);
  }
  90% {
    transform: rotate(-10deg) scale(1.18);
  }
  100% {
    transform: rotate(0deg) scale(1.2);
  }
}
.bi-progress-bar-processor {
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
}
.bi-z-index-mask {
  -webkit-animation: background-change 0.5s ease;
  -moz-animation: background-change 0.5s ease;
  -o-animation: background-change 0.5s ease;
  animation: background-change 0.5s ease;
}
@keyframes background-change {
  from  {background-color:#ffffff} to {background-color:#1a1a1a}  /**to{1: 1;}**/;
}
@-webkit-keyframes background-change {
  from  {background-color:#ffffff} to {background-color:#1a1a1a}  /**to{1: 1;}**/;
}
@-moz-keyframes background-change {
  from  {background-color:#ffffff} to {background-color:#1a1a1a}  /**to{1: 1;}**/;
}
@-o-keyframes background-change {
  from  {background-color:#ffffff} to {background-color:#1a1a1a}  /**to{1: 1;}**/;
}
.bi-message-mask {
  -webkit-animation: background-change 0.5s ease;
  -moz-animation: background-change 0.5s ease;
  -o-animation: background-change 0.5s ease;
  animation: background-change 0.5s ease;
}
@keyframes background-change {
  from  {background-color:#ffffff} to {background-color:#1a1a1a}  /**to{1: 1;}**/;
}
@-webkit-keyframes background-change {
  from  {background-color:#ffffff} to {background-color:#1a1a1a}  /**to{1: 1;}**/;
}
@-moz-keyframes background-change {
  from  {background-color:#ffffff} to {background-color:#1a1a1a}  /**to{1: 1;}**/;
}
@-o-keyframes background-change {
  from  {background-color:#ffffff} to {background-color:#1a1a1a}  /**to{1: 1;}**/;
}
