/****** common color(常用颜色,可用于普遍场景) *****/
/**** custom color(自定义颜色,用于特定场景) ****/
/****添加计算宽度的--运算符直接需要space****/
.bi-new-analysis-button {
  font-size: 16px;
}
.bi-data-config-button {
  font-size: 16px;
}
.bi-new-analysis-center .template-name-label {
  font-size: 16px;
  color: #808080;
}
.bi-new-analysis-center .template-name-input {
  border: 1px solid #d4dadd;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  color: #1a1a1a;
}
.bi-new-analysis-center .template-location-label {
  font-size: 16px;
  color: #808080;
}
.bi-new-analysis-center .template-location-combo {
  color: #1a1a1a;
}
.bi-new-analysis-south .real-time-report {
  font-size: 14px;
  color: #808080;
}
