@import "../../bibase";
.bi-number-table-tree{
  & .number-header-cell{
    color: @color-bi-text;
    font-size: @font-size-14;
    font-weight: bold;
  }
  & .number-body-cell{
    color: @color-bi-text-gray;
  }
}