@import "../../../bibase";
.bi-detail-select-data-preview-pane{
  & .field-container{
    border: 1px solid @color-bi-border-line;
    .border-radius(2px);
    & .field-date-container{
      border-top: 1px solid @color-bi-border-line;
    }
  }
  & .table-data-container{
    border: 1px solid @color-bi-border-line;
    .border-radius(2px);
  }
}
.bi-detail-select-data-preview-section-south{
  & .preview-comment{
    font-size: @font-size-14;
    color: @color-bi-text-gray;
  }
}