@import "../../../bibase";
.bi-slider-track{
  .background-track{
    background-color: @background-color-active;
    .border-radius(@radius-12);
  }
  .gray-track{
    background: @water-mark-color;
    .border-radius(@radius-5);
  }
  .blue-track{
    background: @background-color-highlight;
    .border-radius(@radius-5);
  }
  //.track-blue{
  //  background: @background-color-highlight;
  //  .border-radius(@radius-5);
  //}
  //.track{
  //  background-color: @water-mark-color;
  //  border: 7px solid @background-color-active;
  //  .border-radius(@radius-12);
  //}
}