@import "../../../bibase";
.bi-all-reports-card-item{
  &:hover{
    background: @color-bi-background-gray;
  }
  & .normal-mark{
    font-size: @font-size-16;
  }
  & .mark-icon{
    background: @color-bi-background-default;
    font-size: @font-size-16;
  }
  & .info-card{
    background: @color-bi-tooltip-success-background;
  }
}