@import "../../../bibase";
.bi-all-reports-list-item{
  border-bottom: 1px solid @color-bi-border-line;
  &:hover{
    background: @color-bi-background-gray;
  }
  & .normal-mark{
    font-size: @font-size-16;
  }
  & .mark-icon{
    background: @color-bi-background-default;
  }
  & .info-card{
    background: @color-bi-tooltip-success-background;
  }
}