@import "../../../../bibase";

.bi-detail-table-popup-view {
  background-color: @color-bi-background-normal;
  & .widget-attr-west {
    & .widget-select-data-pane {
      background-color: @color-bi-background-default;
      .border-radius(2px);
    }
  }

  & .widget-attr-center {
    & .widget-top-wrapper {
      background-color: @color-bi-background-default;
    }
    & .widget-center-wrapper {
      background-color: @color-bi-background-default;
    }
  }
}