/****添加计算宽度的--运算符直接需要space****/
/****** common color(常用颜色,可用于普遍场景) *****/
/**** custom color(自定义颜色,用于特定场景) ****/
.bi-chart-drill .drill-wrapper {
  -webkit-border-radius: 0 0 2px 2px;
  -moz-border-radius: 0 0 2px 2px;
  border-radius: 0 0 2px 2px;
  background: #ffffff;
  border-bottom: 1px solid #d4dadd;
  border-left: 1px solid #d4dadd;
  border-right: 1px solid #d4dadd;
  -webkit-box-shadow: 0 1px 1px 1px #d4dadd;
  -moz-box-shadow: 0 1px 1px 1px #d4dadd;
  box-shadow: 0 1px 1px 1px #d4dadd;
  z-index: 100001;
}
