/****添加计算宽度的--运算符直接需要space****/
/****** common color(常用颜色,可用于普遍场景) *****/
/**** custom color(自定义颜色,用于特定场景) ****/
/****** common color(常用颜色,可用于普遍场景) *****/
/**** custom color(自定义颜色,用于特定场景) ****/
.bi-analysis-etl-operator-title {
  padding-left: 10px;
  padding-right: 10px;
  background: #ffffff;
  border: 1px solid #eaeaea;
}
