/****添加计算宽度的--运算符直接需要space****/
/****** common color(常用颜色,可用于普遍场景) *****/
/**** custom color(自定义颜色,用于特定场景) ****/
.bi-excel-upload {
  background: #f4f4f4;
}
.bi-excel-upload .upload-excel-pane {
  background: #ffffff;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
.bi-excel-upload .upload-excel-pane .upload-north {
  border-bottom: 1px solid #d4dadd;
  color: #808080;
  font-size: 14px;
}
.bi-excel-upload .upload-excel-pane .upload-tool .upload-info {
  color: #808080;
  font-size: 14px;
}
.bi-excel-upload .upload-excel-pane .upload-tool .excel-name {
  color: #1a1a1a;
}
.bi-excel-upload .upload-excel-preview {
  background: #ffffff;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
.bi-excel-upload .upload-excel-preview .preview-north {
  color: #808080;
  font-size: 14px;
  border-bottom: 1px solid #d4dadd;
}
.bi-excel-upload .upload-excel-preview .preview-empty-tip {
  color: #808080;
  font-size: 16px;
}
