/****添加计算宽度的--运算符直接需要space****/
/****** common color(常用颜色,可用于普遍场景) *****/
/**** custom color(自定义颜色,用于特定场景) ****/
.bi-excel-tip-combo .tip-combo-trigger {
  font-size: 16px;
}
.bi-excel-tip-combo .tip-combo-trigger:hover {
  background: #f4f4f4;
}
.bi-excel-tip-combo .tip-combo-popup .popup-tip-label {
  color: #808080;
}
